{% extends "layout.html" %}

{% block page_title %}
  Apply for Employment and Support Allowance
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

	<form action="gov-overview" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 3 of 23</span> -->
			      Before you start
			    </h1>
			  </header>

        <p class="lede">This service is currently only available to people who have been invited to claim Employment and Support Allowance online. </p>
        <p class="lede">If you have been invited enter your access code below.</p>
        <p>Before you apply make sure you have:</p>
        <ul class="list list-bullet">
          <li>your National Insurance number</li>
          <li>the name, address and telephone number of your General Practitioner (GP)</li>
          <li style="list-style: none;">
            <details style="margin-left:-20px;">
              <summary><span class="summary">your fit note if you have one (also known as a sick note or doctor’s note)</span></summary>
              <div class="panel panel-border-narrow">
                <p>
                  A fit note describes how your condition affects your ability to work and is issued by a hospital doctor or GP.
                </p>
              </div>
            </details>
          </li>
          <li>hospital admission date if you’re currently in hospital</li>
          <li>your employer’s address and telephone number</li>

          <li>dates of employment</li>
          <li>your last 2 payslips</li>
          <li style="list-style: none;">
            <details style="margin-left:-20px;">
              <summary><span class="summary">form SSP1 if you have one</span></summary>
              <div class="panel panel-border-narrow">
                <p>
                  Your employer should give you an SSP1 if you’re not entitled to Statutory Sick Pay (SSP), or when it’s coming to an end.
                </p>
              </div>
            </details>
          </li>
          <li>details of any income other than earnings or SSP</li>
          <li>details of your money, savings or investments</li>
          <li>bank, building society or post office account details</li>
        </ul>

        <div class="panel panel-border-narrow">
          <p>You’ll be asked to give consent for the Department of Work and Pensions to contact your GP (doctor). If you give consent you may withdraw it at any time.</p>
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="howmuch1">Access code:</label>
          <input class="form-control form-control-1-4" id="howmuch1" type="text" name="howmuch1">
        </div>

        <!-- Primary buttons, secondary links -->
        <p>
          <a class="button button-start" href="help-appointee" role="button">Start now</a>
        </p>
        <p>The application will reset if you don’t do anything for more than 30 minutes - you’ll have to restart your application.</p>

      </div>
      <div class="column-one-third">
      	{% include "../includes/help.html" %}
      </div>
    </div>

  </form>
</main>

{% endblock %}
