{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Personal details
          </h2>
        </th>

        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td width="40%">
          <b>Name</b>
        </td>
        <td>
          Mr John Adam Leonard Smith
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">name</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Date of birth</b>
        </td>
        <td>
          4th February 1970
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">date of birth</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>National Insurance number</b>
        </td>
        <td>
          *******89H
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">national insurance number</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Address</b>
        </td>
        <td>
          1 Acacia Avenue<br>
          Leeds<br>
          LS1 2AA
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">address</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Mobile number</b>
        </td>
        <td>
          07123 456789
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">mobile number</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Email</b>
        </td>
        <td>
          johnsmith@aol.com
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">Email</span>
          </a> -->
        </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Further info
          </h2>
        </th>

        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <b>What is your employment status?</b>
        </td>
        <td>
          Unemployed
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">employment status</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Do you have a partner?</b>
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">partner status</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Does your partner work 24 hours or more a week?</b>
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">partner's hours</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>How much money do you have saved?</b>
        </td>
        <td>
          Less than &pound;5,500
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">address</span>
          </a> -->
        </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Health questions
          </h2>
        </th>

        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <b>Doctor's name</b>
        </td>
        <td>
          Dr K Carlisle 
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">doctor's name</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Doctor's surgery address</b>
        </td>
        <td>
          Chapel Town Surgery<br>
          50 Lower Dock Road<br>
          Leeds<br>
          LS2 1AA
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">doctor's address</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>What conditions &amp; disabilities do you have?</b>
        </td>
        <td>
          Depression<br>
          Slipped disc<br>
          Anxiety
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">conditions</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Have you been diagnosed with a terminal illness? </b>
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Are you applying for ESA because you have recently recived an injury meaning that you cannot work</b>
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">injury question</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Do you have a fit note?</b>
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">fit note question</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>When is your claim date?</b>
        </td>
        <td>
          1st March 2016
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">claim date</span>
          </a> -->
        </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Further info
          </h2>
        </th>

        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <b>Are you getting Housing Benefit or Council Tax Credit?</b>
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">housing benefit answer</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Are you getting a pension</b>
        </td>
        <td>
          No
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">pension details</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Bank Account Holder's name</b>
        </td>
        <td>
          Mr J A L Smith
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">name</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Name of bank or building society</b>
        </td>
        <td>
          HSBC
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Sort code</b>
        </td>
        <td>
          40-**-**
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">sort code</span>
          </a> -->
        </td>
      </tr>
      <tr>
        <td>
          <b>Account number</b>
        </td>
        <td>
          ****1234
        </td>
        <td class="change-answer">
          <!-- <a href="#">
            Change <span class="visuallyhidden">account number</span>
          </a> -->
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
    <a href="declaration" class="button">Continue</a>
  </div>

</main>

{% endblock %}
