{% extends "layout.html" %}

{% block page_title %}
  GP Details
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_alpha.html" %}

	<form action="health-conditions" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 10 of 23</span> -->
			      Your doctor
			    </h1>
			  </header>

	      <p>It is important to process your claim for you to give accurate contact details for your doctor</p>

	      <div class="form-group">
	        <label class="form-label-bold" for="full-name">
	        Doctor's name
	        </label>
	        <input type="text" class="form-control" id="full-name" name="full-name">
	      </div>

	      <fieldset>
	      
	        <legend class="form-label-bold">Doctor's surgery address</legend>

	        <div class="form-group">
	          <label class="form-label" for="surgery-name">Surgery name</label>
	          <input type="text" class="form-control" id="surgery-name">
	        </div>

	        <div class="form-group">
	          <p class="form-label">Address</p>
	          <label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
	          <label class="form-label"><input type="text" class="form-control" id="address-line2"></label>
	          <label class="form-label"><input type="text" class="form-control" id="address-line3"></label>
	        </div>
	        
	        <div class="form-group">
	          <label class="form-label" for="postcode">Postcode</label>
	          <input type="text" class="form-control" id="postcode">
	        </div>
	        
	      </fieldset>

	      <div class="form-group">
	        <label class="form-label-bold" for="nino">
	        Surgery phone number
	        </label>
	        <input type="text" class="form-control" id="nino" name="nino">
	      </div>

		    <!-- Primary buttons, secondary links -->
		    <div class="form-group">
		      <input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
		    </div>

		  </div>
		  <div class="column-one-third">
		  	<p>&nbsp;</p>
		  </div>
		</div>

  </form>
</main>

{% endblock %}