{% extends "layout.html" %}

{% block page_title %}
  Savings
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_alpha.html" %}

	<form action="partner" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 7 of 23</span> -->
			      Savings
			    </h1>
			  </header>

			  <div class="form-group">
          <fieldset>

            <legend class="heading-medium">
              How much money do you have saved?
            </legend>

            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="radio" name="housing-act" value="Part 2">
              Less than £5,500
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              Between £5,501 and £15,999
            </label>

            <label for="radio-part-4" class="block-label">
              <input id="radio-part-4" type="radio" name="housing-act" value="Part 4">
              Over £16,000
            </label>

          </fieldset>
        </div>

		    <!-- Primary buttons, secondary links -->
		    <div class="form-group">
		      <input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
		    </div>

		  </div>
		  <div class="column-one-third">
		  	<p>&nbsp;</p>
		  </div>
		</div>

  </form>
</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <script>
    $('form').on('submit', function(e) {
      if($('#radio-part-4').is(':checked')) {
        window.location = '/alpha02/gp-details';
      } else {
        window.location = '/alpha02/partner';
      }

      e.preventDefault();
    });
  </script>
{% endblock %}
