{% extends "layout.html" %}

{% block page_title %}
  Before you start
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

  <form action="help-appointee" method="#" class="form">
    <div class="grid-row">
      <div class="column-two-thirds">
        <header>
          <h1 class="form-title heading-large">
            Before you start
          </h1>
        </header>

        <div class="form-group">
          <fieldset class="inline">
            <legend class="form-label-bold" for="question1">Are you unable to work because of sickness or disability?</legend>
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="question1" value="Yes">
              Yes
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="question1" value="No">
              No
            </label>
          </fieldset>
        </div>

        <!-- <div class="form-group">
          <fieldset class="inline">
            <legend class="form-label-bold" for="question2">Are you currently getting Jobseeker's Allowance (JSA), Universal Credit or Income Support?</legend>
            <label class="block-label" for="radio-inline-3">
              <input id="radio-inline-3" type="radio" name="question2" value="Yes">
              Yes
            </label>
            <label class="block-label" for="radio-inline-4">
              <input id="radio-inline-4" type="radio" name="question2" value="No">
              No
            </label>
          </fieldset>
        </div> -->

        <div class="form-group">
          <fieldset class="inline">
            <legend class="form-label-bold" for="question3">Are you currently involved in industrial action eg a strike?</legend>
            <label class="block-label" for="radio-inline-5">
              <input id="radio-inline-5" type="radio" name="question3" value="Yes">
              Yes
            </label>
            <label class="block-label" for="radio-inline-6">
              <input id="radio-inline-6" type="radio" name="question3" value="No">
              No
            </label>
          </fieldset>
        </div>

        <!-- <div class="form-group">
          <fieldset class="inline">
            <legend class="form-label-bold" for="question4">Are you working over 16 hours per week in either paid or voluntary work?</legend>
            <label class="block-label" for="radio-inline-7">
              <input id="radio-inline-7" type="radio" name="question4" value="Yes">
              Yes
            </label>
            <label class="block-label" for="radio-inline-8">
              <input id="radio-inline-8" type="radio" name="question4" value="No">
              No
            </label>
          </fieldset>
        </div> -->

        <!-- Primary buttons, secondary links -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </div>
      <div class="column-one-third">
        <p>&nbsp;</p>
      </div>
    </div>
  </form>
</main>

{% endblock %}
