{% extends "layout.html" %}

{% block page_title %}
  Contact details
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

	<form action="contact-pref" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 3 of 23</span> -->
			      Contact details
			    </h1>
			  </header>

        <p class="lede">Updates about your application will be sent to you by letter, text message and email.</p>


        <div class="form-group">
          <fieldset>

            <h2 class="form-title heading-medium">Address</h2>

            <p>Enter an address where you want updates about your claim to be sent.</p>


            <div class="form-group">
              <label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
              <label class="form-label"><input type="text" class="form-control" id="address-line2"></label>
              <label class="form-label"><input type="text" class="form-control" id="address-line3"></label>
            </div>

            <div class="form-group">
              <label class="form-label" for="postcode">Postcode</label>
              <input type="text" class="form-control form-control-1-4" id="postcode">
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="phone">Phone number</label>
          <input type="text" class="form-control" id="phone">
        </div>

        <details class="form-group">
          <summary><span class="summary">You need to explain more about how to contact you on this number</span></summary>

          <div class="panel panel-border-narrow">
            <div class="form-group">
              <fieldset class="">
                <legend class="form-label-bold" for="have-mortgage">Select the one that applies to you</legend>
                <label class="block-label" for="radio-inline-20">
                  <input id="radio-inline-20" type="radio" name="have-mortgage" value="Daily">
                  Text only (no voice calls)
                </label>
                <label class="block-label" for="radio-inline-21">
                  <input id="radio-inline-21" type="radio" name="have-mortgage" value="Weekly">
                  Voice only (no text)
                </label>
              </fieldset>
          </div>
        </details>

        <div class="form-group">
          <label class="form-label-bold" for="phone2">Other number</label>
          <input type="text" class="form-control" id="phone2">
        </div>

        <details class="form-group">
          <summary><span class="summary">You need to explain more about how to contact you on this number</span></summary>

          <div class="panel panel-border-narrow">
            <div class="form-group">
              <fieldset class="">
                <legend class="form-label-bold" for="have-mortgage2">Select the one that applies to you</legend>
                <label class="block-label" for="radio-inline-202">
                  <input id="radio-inline-202" type="radio" name="have-mortgage2" value="Daily">
                  Text only (no voice calls)
                </label>
                <label class="block-label" for="radio-inline-212">
                  <input id="radio-inline-212" type="radio" name="have-mortgage2" value="Weekly">
                  Voice only (no text)
                </label>
              </fieldset>
          </div>
        </details>

        <div class="form-group">
          <label class="form-label-bold" for="email">Email</label>

          <input type="text" class="form-control" id="email">
        </div>


        <!-- Primary buttons, secondary links -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
        </div>

      </div>
      <div class="column-one-third">
      	<p>&nbsp;</p>
      </div>
    </div>

  </form>
</main>

{% endblock %}
