<div class="form-group">
	<legend class="form-label-bold" for="address">Address</legend>
	<div class="form-group">
		<label class="form-label" for="address-a">Building and street</label>
		<input type="text" name="address" id="address-a" class="form-control" value="">
		<input type="text" name="address" id="address-a" class="form-control" value="">
	</div>
	<div class="form-group">
		<label for="town" class="form-label">Town or city</label>
		<input type="text" name="town" id="town" class="form-control" value="">
	</div>
	<div class="form-group">
		<label for="county" class="form-label">County (optional)</label>
		<input type="text" name="county" id="county" class="form-control" value="">
	</div>
	<div class="form-group">
		<label for="postCode" class="form-label">Postcode</label>
		<input type="text" name="postCode" id="postCode" class="form-control" value="">
	</div>
</div>