<div id="ad-helpline" class="">
    <h2 class="heading-medium" style="margin: 10px 0">Help</h2>
    <p>If you need any help call:</p>
    <h3 class="heading-medium tel">0117 300 1040</h3>
    <p class="form-hint">Calls charged at local rate from landlines, calls from mobiles may cost more.</p>
    <p>Mon to Fri: 9am to 5pm</p>
    <p>Closed public holidays.</p>
</div>
<div id="ad-helpline" class="">
    <h2 class="heading-medium" style="margin: 10px 0">Accessibility</h2>
    <a rel="external" href="https://www.gov.uk/help/accessibility" target="_blank">Help with accessibility</a>
</div>