{% extends "layout.html" %}

{% block page_title %}
	Feedback-confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_alpha.html" %}

	<form action="household" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				
				<header>
					<h1 class="form-title heading-large">
						<!-- <span class="heading-secondary">Section 8 of 23</span> -->
						Thank you for your feedback
					</h1>
				</header>

      <p><a href="https://www.gov.uk/">Return to the GOV.UK homepage</a></p>
      </div>

  </div>

</main>

{% endblock %}


