{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers
  </h1>
  <div class="form-group">
    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Help with application
            </h2>
          </th>

          <th class="change-answer">
            <a href="help-appointee">
              Change <span class="visuallyhidden">details</span>
            </a>
          </th>
        </tr>
      </thead>  
      <tbody>
        <tr>
          <td>
            You are:
          </td>
          <td colspan="2">
            getting help from a friend, relative or third party such as a charity
          </td>
        </tr>
        <tr>
          <td>
            The name of the person helping you
          </td>
          <td colspan="2">
            Jessica Agnew
          </td>
        </tr>
        <tr>
          <td>
            How you know them
          </td>
          <td colspan="2">
            My neice
          </td>
        </tr>
        <tr>
          <td>
            Why they're helping you
          </td>
          <td colspan="2">
            I'm not confident and just need the help
          </td>
        </tr>
      </tbody>    
      

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Personal details
            </h2>
          </th>

          <th class="change-answer">
            <a href="personal-details">
              Change <span class="visuallyhidden">personal details</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td width="40%">
            Name
          </td>
          <td colspan="2">
            Mr John Adam Leonard Smith
          </td>
        </tr>
        <tr>
          <td>
            Date of birth
          </td>
          <td colspan="2">
            4th February 1970
          </td>
        </tr>
        <tr>
          <td>
            National Insurance number
          </td>
          <td colspan="2">
            *******89H
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Contact details
            </h2>
          </th>

          <th class="change-answer">
            <a href="contact-details">
              Change <span class="visuallyhidden">contact details</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Address
          </td>
          <td colspan="2">
            1 Acacia Avenue<br>
            Leeds<br>
            LS1 2AA
          </td>
        </tr>
        <tr>
          <td>
            Phone number
          </td>
          <td colspan="2">
            07123 456789
          </td>
        </tr>
        <tr>
          <td>
            Other phone number
          </td>
          <td colspan="2">
            0113 4456789
          </td>
        </tr>
        <tr>
          <td>
            Email
          </td>
          <td colspan="2">
            johnsmith@aol.com
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Alternative formats
            </h2>
          </th>

          <th class="change-answer">
            <a href="contact-pref">
              Change <span class="visuallyhidden">alternative formats</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            You will get your decision letter in the post. Do you need this in a different format eg braille, large print or audio CD?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Work
            </h2>
          </th>

          <th class="change-answer">
            <a href="contact-pref">
              Change <span class="visuallyhidden">work</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Are you currently doing:
          </td>
          <td colspan="2">
            some volunteering
          </td>
        </tr>
        <tr>
          <td>
            Position
          </td>
          <td colspan="2">
            Front desk
          </td>
        </tr>
        <tr>
          <td>
            Who are you volunteering for?
          </td>
          <td colspan="2">
            Sue Ryder Charity
          </td>
        </tr>
        <tr>
          <td>
            Address where you're volunteering
          </td>
          <td colspan="2">
            Chapel Town Surgery<br>
            50 Lower Dock Road<br>
            Leeds<br>
            LS2 1AA
          </td>
        </tr>
        <tr>
          <td>
            How many hours a week are you volunteering?
          </td>
          <td colspan="2">
            8
          </td>
        </tr>
        <tr>
          <td>
            Do you get anything in return for volunteering eg expenses, food or accomodation?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Statutory payments
            </h2>
          </th>

          <th class="change-answer">
            <a href="statutory-payments">
              Change <span class="visuallyhidden">statutory payments</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Have you received any statutory payments in the last 3 months?
          </td>
          <td colspan="2">
            None
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Pensions
            </h2>
          </th>

          <th class="change-answer">
            <a href="pensions">
              Change <span class="visuallyhidden">pensions</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Are you getting a pension?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Savings
            </h2>
          </th>

          <th class="change-answer">
            <a href="savings">
              Change <span class="visuallyhidden">savings</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            How much money do you have saved?
          </td>
          <td colspan="2">
            Less than &pound;5,500
          </td>
        </tr>
        <tr>
          <td>
            Have you had more than &pound;5,500 savings in the last 6 months?
          </td>
          <td colspan="2">
            Yes
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Other money
            </h2>
          </th>

          <th class="change-answer">
            <a href="other-money">
              Change <span class="visuallyhidden">other money</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Apart from any benefits, do you have any other money coming in?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Education
            </h2>
          </th>

          <th class="change-answer">
            <a href="education">
              Change <span class="visuallyhidden">education</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Are you currently in education?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
        <tr>
          <td>
            Are you currently in training?
          </td>
          <td colspan="2">
            Yes
          </td>
        </tr>
        <tr>
          <td>
            How many hours a week are you in training?
          </td>
          <td colspan="2">
            Less than 16 hours a week
          </td>
        </tr>
        <tr>
          <td>
            Name of training scheme
          </td>
          <td colspan="2">
            Sous-chef training
          </td>
        </tr>
        <tr>
          <td>
            Address where you're being trained
          </td>
          <td colspan="2">
            16 Avocado Avenue<br>
            Collingham<br>
            West Yorkshire LS88 6TY
          </td>
        </tr>
        <tr>
          <td>
            When did your training start?
          </td>
          <td colspan="2">
            12 / 06 / 16
          </td>
        </tr>
        <tr>
          <td>
            When does your training end?
          </td>
          <td colspan="2">
            09 / 11 / 16
          </td>
        </tr>
        <tr>
          <td>
            Are you currently in an apprenticeship?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Nationality
            </h2>
          </th>

          <th class="change-answer">
            <a href="hrt">
              Change <span class="visuallyhidden">nationality</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            What is your nationality?
          </td>
          <td colspan="2">
            Italian
          </td>
        </tr>
        <tr>
          <td>
            Have you worked abroad in the last 2 years?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
        <tr>
          <td>
            Have you been abroad for 13 weeks or more in the last 2 years?
          </td>
          <td colspan="2">
            Yes
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Where you live
            </h2>
          </th>

          <th class="change-answer">
            <a href="where-you-live">
              Change <span class="visuallyhidden">where you live</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            You live: 
          </td>
          <td colspan="2">
            in a place you pay rent for
          </td>
        </tr>
        <tr>
          <td>
            Does anyone else pay towards the rent?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
        <tr>
          <td>
            Do you pay a service charge for where you live?
          </td>
          <td colspan="2">
            Yes, it's included in your rent payment
          </td>
        </tr>
        <tr>
          <td>
            How much service charge do you pay?
          </td>
          <td colspan="2">
            £70 / month
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Other people in your household
            </h2>
          </th>
          <th class="change-answer">
            <a href="household">
              Change <span class="visuallyhidden">other people in your household</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Does anyone live with you over the age of 18?
          </td>
          <td colspan="2">
            No
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Housing Benefit &amp; Council Tax Reduction
            </h2>
          </th>
          <th class="change-answer">
            <a href="housing-benefit">
              Change <span class="visuallyhidden">other people in your household</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Are you currently getting Housing Benefit or Council Tax Reduction, or both?
          </td>
          <td colspan="2">
            Yes
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Your GP's details
            </h2>
          </th>
          <th class="change-answer">
            <a href="gp-details">
              Change <span class="visuallyhidden">your GP's details</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            GP's name
          </td>
          <td colspan="2">
            Dr. P Sun
          </td>
        </tr>
        <tr>
          <td>
            Their address
          </td>
          <td colspan="2">
            Collingham Medical Centre<br>
            Collingham
          </td>
        </tr>
        <tr>
          <td>
            Their phone number
          </td>
          <td colspan="2">
            0113 5671234
          </td>
        </tr>
      </tbody>























        <tr>
          <td>
            Bank Account Holder's name
          </td>
          <td>
            Mr J A L Smith
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Name of bank or building society
          </td>
          <td>
            HSBC
          </td>
          <td class="change-answer">
            <a href="#">
              Change
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Sort code
          </td>
          <td>
            40-**-**
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">sort code</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Account number
          </td>
          <td>
            ****1234
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">account number</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <a href="#" class="button">Print summary</a>
  </div>

  <div class="panel panel-border-narrow">
    <p>Printing won't send your application - you must press next to continue.</p>
  </div>

  <div class="form-group">
    <a href="declaration" class="button">Next</a>
  </div>

</main>

{% endblock %}
