{% extends "layout.html" %} {% block page_title %} Medication {% endblock %} {% block content %}
<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="treatment" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="health-conditions">Back</a>
                <header>
                    <h1 class="form-title heading-large">Are you taking any medication?</h1>
                </header>
                <fieldset id="speech" class="inline">
                    <legend for="speech">
                        <span class="visually-hidden">Are you taking any medication?</span>
                    </legend>
                    <div class="form-group">
                        <label class="block-label" for="meds-Yes" data-target="meds">
                            <input id="meds-Yes" type="radio" name="speech" value="Yes">Yes
                        </label>
                        <label class="block-label" for="meds-No">
                            <input id="meds-No" type="radio" name="speech" value="No">No
                        </label>
                    </div>
                </fieldset>
                <div class="js-hidden panel panel-border-narrow" id="meds">
                    <h2 class="heading-small">Medication 1</h2>
                    <div class="form-group" id="form-group-medication1">
                        <label class="form-label" for="medication1">Name of medication
                        </label>
                        <input type="text" data-name="medication-1" class="form-control" id="medication1" name="medication1" value="">
                    </div>
                    <div class="form-group" id="form-group-dosage1">
                        <label class="form-label" for="dosage1">Dose
                            <span class="form-hint">For example, 40mg</span>
                        </label>
                        <input type="text" data-name="dosage-1" class="form-control" id="dosage1" name="dosage1" value="">
                    </div>
                    <div class="form-group" id="form-group-often1">
                        <label class="form-label" for="often1">How often you take it
                            <span class="form-hint">For example, 2 tablets, twice a day</span>
                        </label>
                        <input type="text" data-name="often-1" class="form-control" id="often1" name="often1" value="">
                    </div>
                    <p><a href="#" id="show-payment2" class="add-another secondary-button">Add another medication</a></p>
                </div>
                <div class="js-hidden panel panel-border-narrow" id="payment2">
                    <h2 class="heading-small">Medication 2</h2>
                    <div class="form-group" id="form-group-medication2">
                        <label class="form-label" for="medication2">Name of medication
                        </label>
                        <input type="text" data-name="medication-2" class="form-control" id="medication2" name="medication2" value="">
                    </div>
                    <div class="form-group" id="form-group-dosage2">
                        <label class="form-label" for="dosage2">Dose
                            <span class="form-hint">For example, 40mg</span>
                        </label>
                        <input type="text" data-name="dosage-2" class="form-control" id="dosage2" name="dosage2" value="">
                    </div>
                    <div class="form-group" id="form-group-often2">
                        <label class="form-label" for="often2">How often you take it
                            <span class="form-hint">For example, 2 tablets, twice a day</span>
                        </label>
                        <input type="text" data-name="often-2" class="form-control" id="often2" name="often2" value="">
                    </div>
                    <p><a href="#" id="show-payment3" class="add-another secondary-button">Add another medication</a></p>
                </div>
                <div class="js-hidden panel panel-border-narrow" id="payment3">
                    <h2 class="heading-small">Medication 3</h2>
                    <div class="form-group" id="form-group-medication3">
                        <label class="form-label" for="medication3">Name of medication
                        </label>
                        <input type="text" data-name="medication-3" class="form-control" id="medication3" name="medication3" value="">
                    </div>
                    <div class="form-group" id="form-group-dosage3">
                        <label class="form-label" for="dosage3">Dose
                            <span class="form-hint">For example, 40mg</span>
                        </label>
                        <input type="text" data-name="dosage-3" class="form-control" id="dosage3" name="dosage3" value="">
                    </div>
                    <div class="form-group" id="form-group-often3">
                        <label class="form-label" for="often3">How often you take it
                            <span class="form-hint">For example, 2 tablets, twice a day</span>
                        </label>
                        <input type="text" data-name="often-3" class="form-control" id="often3" name="often3" value="">
                    </div>
                    <p><a href="#" id="show-payment4" class="add-another secondary-button">Add another medication</a></p>
                </div>
                <div class="js-hidden panel panel-border-narrow" id="payment4">
                    <h2 class="heading-small">Medication 4</h2>
                    <div class="form-group" id="form-group-medication4">
                        <label class="form-label" for="medication4">Name of medication
                        </label>
                        <input type="text" data-name="medication-4" class="form-control" id="medication4" name="medication4" value="">
                    </div>
                    <div class="form-group" id="form-group-dosage4">
                        <label class="form-label" for="dosage4">Dose
                            <span class="form-hint">For example, 40mg</span>
                        </label>
                        <input type="text" data-name="dosage-4" class="form-control" id="dosage4" name="dosage4" value="">
                    </div>
                    <div class="form-group" id="form-group-often4">
                        <label class="form-label" for="often4">How often you take it
                            <span class="form-hint">For example, 2 tablets, twice a day</span>
                        </label>
                        <input type="text" data-name="often-3" class="form-control" id="often4" name="often4" value="">
                    </div>
                    <p><a href="#" id="show-payment5" class="add-another secondary-button">Add another medication</a></p>
                </div>
                <div class="js-hidden panel panel-border-narrow" id="payment5">
                    <h2 class="heading-small">Medication 5</h2>
                    <div class="form-group" id="form-group-medication5">
                        <label class="form-label" for="medication5">Name of medication
                        </label>
                        <input type="text" data-name="medication-5" class="form-control" id="medication5" name="medication5" value="">
                    </div>
                    <div class="form-group" id="form-group-dosage5">
                        <label class="form-label" for="dosage5">Dose
                            <span class="form-hint">For example, 40mg</span>
                        </label>
                        <input type="text" data-name="dosage-5" class="form-control" id="dosage5" name="dosage5" value="">
                    </div>
                    <div class="form-group" id="form-group-often5">
                        <label class="form-label" for="often5">How often you take it
                            <span class="form-hint">For example, 2 tablets, twice a day</span>
                        </label>
                        <input type="text" data-name="often-5" class="form-control" id="often5" name="often5" value="">
                    </div>
                    <p><a href="#" id="show-payment6" class="add-another secondary-button">Add another medication</a></p>
                </div>
                <div class="js-hidden panel panel-border-narrow" id="payment6">
                    <h2 class="heading-small">Medication 6</h2>
                    <div class="form-group" id="form-group-medication6">
                        <label class="form-label" for="medication6">Name of medication
                        </label>
                        <input type="text" data-name="medication-6" class="form-control" id="medication6" name="medication6" value="">
                    </div>
                    <div class="form-group" id="form-group-dosage6">
                        <label class="form-label" for="dosage6">Dose
                            <span class="form-hint">For example, 40mg</span>
                        </label>
                        <input type="text" data-name="dosage-6" class="form-control" id="dosage6" name="dosage6" value="">
                    </div>
                    <div class="form-group" id="form-group-often6">
                        <label class="form-label" for="often6">How often you take it
                            <span class="form-hint">For example, 2 tablets, twice a day</span>
                        </label>
                        <input type="text" data-name="often-6" class="form-control" id="often6" name="often6" value="">
                    </div>
                    <p><a href="#" id="show-payment7" class="add-another secondary-button">Add another medication</a></p>
                </div>
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %} {% block body_end %} {% include "includes/scripts.html" %}
<script>
$(document).ready(function() {

    $("#show-payment2").click(function() {
        $("#payment2").removeClass("js-hidden");
        $("#show-payment2").addClass("js-hidden");
        return false;
    });
    $("#show-payment3").click(function() {
        $("#payment3").removeClass("js-hidden");
        $("#show-payment3").addClass("js-hidden");
        return false;
    });
    $("#show-payment4").click(function() {
        $("#payment4").removeClass("js-hidden");
        $("#show-payment4").addClass("js-hidden");
        return false;
    });
    $("#show-payment5").click(function() {
        $("#payment5").removeClass("js-hidden");
        $("#show-payment5").addClass("js-hidden");
        return false;
    });
    $("#show-payment6").click(function() {
        $("#payment6").removeClass("js-hidden");
        $("#show-payment6").addClass("js-hidden");
        return false;
    });

});
</script>
{% endblock %}