{% extends "layout.html" %}

{% block page_title %}
  What Happens Next
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Completed</h1>
      
      <ul class="completed">
        <li>
          <!-- <i class="icon icon-information">
          </i> -->
          Apply for Employment and Support Allowance online
        </li>
        <li>
          Answer an online health questionnaire
        </li>
      </ul>

      <h2 class="heading-large">Things to do now</h1>
    
      <ul class="todo">
        <li>
          <a href="https://dwp-designsprint.herokuapp.com/versions/design-sprint/version-06/app/index">
            Send us your Sick Note online <!--span>Due 24 November 2016</span-->
          </a>
        </li>
        <li>
            <b>Send us your supporting documentation</b> <!--span>Due 24 November 2016</span-->
          <p class="font-small">
            You must send us your:
          </p>
          <ul class="font-small list-bullet">
            <li>Sick Note (if you can't send it to us online)</li>
            <li>SSP1</li>
            <li>P45</li>
          </ul>
          <p class="font-small" style="margin-top: 20px;">We cannot accept photocopies so send the original documents.</p>
          <p class="font-small">Write your National Insurance number on each page</p>
          <h3 class="heading-small">Post to:</h3>
          <p>ESA<br>
            Mail Handling Site A <br>
            Wolverhampton <br>
            WV98 2AS </p>
        </li>
      </ul>
      <h2 class="heading-medium">What happens next</h2>
      <p>You'll get a letter in the next 2 weeks. It will either:</p>
      <ul class="list-bullet">
        <li>tell you if you'll get ESA or not and why</li>
        <li>ask for more information</li>
        <!-- <li>invite you to meet a medical professional</li> -->
      </ul>
      <div class="panel panel-border-narrow">
        <p>You must report any change to your circumstances.</p>
      </div>
      <p>If you have any queries about your claim, phone 0345 608 8545. You’ll need your National Insurance number.</p>

      <h2 class="heading-medium">Your feedback</h2>
      <p><a href="feedback">Tell us what you think about this service</a></p>
    </div>

  </div>

</main>


{% endblock %}
