{% extends "layout.html" %}

{% block page_title %}
  Health insurance
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
  
      <form action="gp-details" method="#" class="form">


      <h1 class="form-title heading-large">
        <span class="heading-secondary">Section 15 of 23</span>
        Health insurance
      </h1>

      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label-bold heading-large" for="partner">Do you have health insurance?</legend>
          <label class="block-label" data-target="between" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="partner" value="Yes">
            Yes
          </label>
          <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="partner" value="No">
            No
          </label>
        </fieldset>
      </div>


      <div class="panel-indent js-hidden" id="between">
        <div class="form-group">
          <label class="form-label-bold" for="surgery-name">Give more details about your health insurance</label>
          <textarea class="form-control" id="surgery-name" rows="7"></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->
{% endblock %}