{% extends "layout.html" %}

{% block page_title %}
  Declaration
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <p>We have sent you a confirmation email.</p>

      <h2 class="heading-medium">What happens next</h2>

      <p>If you are entitled to Employment and Support Allowance we will write to tell you how your benefit has been worked out and how you will be paid. </p>
      <p>If you are not entitled to Employment and Support Allowance we will write to tell you why and what to do if you disagree with the decision. </p>
      <p>If you are not entitled to Employment and Support Allowance we will write to tell you why and what to do if you disagree with the decision. </p>
      <p>We will not be able to deal with your claim and may have to send your claim form back to you if: </p>
      <ul class="list-bullet">
        <li>you have not answered all the questions on this form that apply to you and your partner, if you have one, or </li>
        <li>you have not provided all the documents we have asked for</li>
      </ul>
      <p>Please send further evidence to the address below: </p>
      <p>Woverhampton TBC...</p>


    </div>
  </div>

</main>


{% endblock %}