{% extends "layout.html" %}

{% block page_title %}
  Declaration
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="what-happens-next" method="#" class="form">

      <h1 class="form-title heading-large">
        Declaration
      </h1>

      <p>By sending this application you agree:</p>
      <ul class="list-bullet">
        <li>that the <strong>information</strong> in this application is complete and correct</li>
        <li>to report any changes to your circumstances</li>
      </ul>

      <div class="application-notice help-notice">
        <p>You might have to go to court or pay a penalty if you deliberately give false or incomplete information, or do not report changes. Your Employment and Support Allowance may also be stopped or reduced.</p>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="I agree - send my application">
      </div>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->

{% endblock %}
