{% extends "layout.html" %}

{% block page_title %}
  Special rules
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_alpha.html" %}

	<form action="claim-date" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 12 of 23</span> -->
			      Terminal illness
			    </h1>
			  </header>

			  <div class="form-group">
			  	<fieldset class="inline">

            <legend class="heading-medium">
              Have you been diagnosed with a terminal illness?
            </legend>

            <label for="radio-part-2" data-target="partners-hours" class="block-label">
              <input id="radio-part-2" type="radio" name="housing-act" value="Yes">
              Yes
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="No">
              No
            </label>

          </fieldset>
        </div>

        <div class="js-hidden panel panel-border-narrow" id="partners-hours">
        	<div class="form-group">
				  	<fieldset class="inline">

	            <legend class="heading-medium">
	              Do you have a DS1500?
	            </legend>

	            <p>DS1500 is a form completed by a medical professional.</p>

	            <label for="radio-part-4" data-target="yes-ds" class="block-label">
	              <input id="radio-part-4" type="radio" name="ds" value="Yes">
	              Yes
	            </label>

	            <label for="radio-part-5" data-target="no-ds" class="block-label">
	              <input id="radio-part-5" type="radio" name="ds" value="No">
	              No
	            </label>

	          </fieldset>
	        </div>
        </div>

        <div class="js-hidden panel panel-border-narrow" id="yes-ds">
    			<p>You will need to send your DS1500 to DWP. The address will be at the end.</p>
        </div>

        <div class="js-hidden panel panel-border-narrow" id="no-ds">
    			<p>Ask the medical professional who diagnosed you for a DS1500.</p>
        </div>

        

		    <!-- Primary buttons, secondary links -->
		    <div class="form-group">
		      <input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
		    </div>

		  </div>
		  <div class="column-one-third">
		  	<p>&nbsp;</p>
		  </div>
		</div>

  </form>
</main>

{% endblock %}
