{% extends "layout.html" %}

{% block page_title %}
	Your money
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_beta.html" %}

	<form action="work" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<a class="link-back" href="contact-pref">Back</a>

				{% include "../includes/error-summary.html" %}

				<header>
					<h1 class="form-title heading-large">Your money</h1>
				</header>

				<div class="form-group" data-required data-error="Select an option">
					<fieldset>
						<legend class="form-label-bold" for="partner">Select all that apply:</legend>
						<!-- <p class="hint-text">If you are part-time employed select 'Employed or self-employed'.</p> -->
						<label class="block-label" data-target="sap" for="radio-inline-4">
							<input id="radio-inline-4" type="checkbox" name="partner" value="No">
							<b>I have some money, savings or shares</b>
						</label>
						
						<label class="block-label" data-target="spp" for="radio-inline-3">
							<input id="radio-inline-3" type="checkbox" name="partner" value="Yes">
							<b>I'm getting money from a pension</b>
						</label>

						<label class="block-label" data-target="ssp" for="radio-inline-1">
							<input id="radio-inline-1" type="checkbox" name="partner" value="Yes">
							<b>I've received statutory payments in the last 3 months</b><br>
							For example statutory sick pay, maternity pay, paternity pay or adoption pay
						</label>

						<label class="block-label" data-target="spp" for="radio-inline-2">
							<input id="radio-inline-2" type="checkbox" name="partner" value="Yes">
							<b>None of these apply to me</b>
						</label>
						
					</fieldset>
				</div>

				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
				</div>

			</div>
			<div class="column-one-third">
				{% include "../includes/help.html" %}
			</div>
		</div>

	</form>
</main>

{% endblock %}
