{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Find your GP surgery
      </h1>

      <p>
        To find your GP surgery, enter one or both: surgery name; address nearby.
      </p>

      <form action="select-practice" method="post">

        <div class="form-group" data-required data-error="Enter the name of your GP practice">
          <label for="practiceSearch" class="form-label">Your GP surgery</label>
          <input type="text" name="practiceSearch" id="practiceSearch" class="form-control form-control-2-3" value="">
        </div>

        <div class="form-group" data-required data-error="Enter a location or postcode">
          <label for="locationSearch" class="form-label">Nearby location, or postcode</label>
          <input type="text" name="locationSearch" id="locationSearch" class="form-control form-control-1-2" value="">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
