{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Find your GP
      </h1>

      <h2 class="heading-medium">Prototypes</h2>

      <p>
        <a href="find-practice">Simple search (one-thing-per-page)</a>
        <br>
        Use when a no-javascript solution is needed.
      </p>

      <p>
        <a href="typeahead">Enhanced search (javascript typeahead)</a>
        <br>
        Use this to search on any data item instantly. This works contextually alongside other elements on the page. This requires javascript.
      </p>

      <h2 class="heading-medium">Pattern principals</h2>

      <ul class="list list-bullet">
        <li>allow users to search by name or location</li>
        <li>do not assume the GP location will be in proximiy to a users home address</li>
        <li>confirm the practice is correct before listing GPs</li>
        <li>allow people to complete the transaction even if they don't know their GP</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
