{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Select your GP surgery
      </h1>

      <form action="select-gp" method="post">

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Select your GP surgery</legend>

            <label for="radio-part-1" class="block-label">
              <input id="radio-part-1" type="radio" name="gpPractice" value="Lake Surgery">
              <span class="font-small">Lake Surgery, Union Road, New Mills, High Peak, SK22 4QP
            </label>

            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="radio" name="gpPractice" value="River Surgery">
              <span class="font-small">River Surgery, Union Road, New Mills, High Peak, SK22 4QP
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="gpPractice" value="Ocean Surgery">
              <span class="font-small">Ocean Surgery, Union Road, New Mills, High Peak, SK22 4QP
            </label>

            <label for="radio-part-0" class="block-label">
              <input id="radio-part-0" type="radio" name="gpPractice" value="false">
              <span class="font-small">None of these are my GP surgery</span>
            </label>

            <div class="form-group">
              <input type="submit" class="button" value="Continue">
            </div>

          </fieldset>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
