{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Search address
      </h1>

      <form action="select-address" method="post">

        <div class="form-group" data-required data-error="Enter your postcode">
          <label for="postcode" class="form-label">Postcode or first line of address</label>
          <input type="text" name="postcode" id="postcode" class="form-control" value="">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
