{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Look up an address
      </h1>

      <h2 class="heading-medium">Prototypes</h2>

      <p>
        <a href="enter-postcode">Simple search (one-thing-per-page)</a>
        <br>
        Use when it's highly likely that postcode will be known and as a no-javascript solution.
      </p>

      <p>
        <a href="typeahead">Enhanced search (javascript typeahead)</a>
        <br>
        Use when the user might not know a specific item of info and wants to search on multiple terms. This works contextually alongside other elements on the page. This requires javascript.
      </p>

      <h2 class="heading-medium">Pattern principals</h2>

      <ul class="list list-bullet">
        <li>search for addresses from a data register that is maintained by a third party</li>
        <li>collect addresses in approved formats that can be used for straight-through backend processing</a>
        <li>allow address to be search by postcode or the first line</li>
        <li>allow manual edit/entry if the address is not held in the way the user expects</li>
        <li>manually edited/entered addresses cannot be processed automatically</li>
        <li>manually edited/entered address should trigger a request a verify and update data register if required.</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
