{% extends "layout.html" %} {% block page_title %} Hospital {% endblock %} {% block content %}
<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="special-rules">Back</a>
            <form action="health-conditions" method="#" class="form">
                <h1 class="form-title heading-large">
                Hospital
                </h1>
                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="form-label-bold" for="partner">Are you currently in hospital as an in-patient?</legend>
                        <label class="block-label" data-target="in-hospital" for="radio-inline-1">
                            <input id="radio-inline-1" type="radio" name="partner" value="Yes"> Yes
                        </label>
                        <label class="block-label" data-target="no-pension" for="radio-inline-2">
                            <input id="radio-inline-2" type="radio" name="partner" value="No"> No
                        </label>
                    </fieldset>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="in-hospital" style="margin-top: 15px;">
                    <div class="form-group">
                        <fieldset>
                            <legend class="form-label-bold">When were you admitted to hospital?</legend>
                            <div class="form-date">
                                <p class="form-hint">DD MM YYYY</p>
                                <div class="form-group form-group-day">
                                    <label for="start-day">Day</label>
                                    <input type="text" class="form-control" id="start-day" maxlength="2" name="start-day">
                                </div>
                                <div class="form-group form-group-month">
                                    <label for="start-month">Month</label>
                                    <input type="text" class="form-control" id="start-month" maxlength="2" name="start-month">
                                </div>
                                <div class="form-group form-group-year">
                                    <label for="start-year">Year</label>
                                    <input type="text" class="form-control" id="start-year" maxlength="4" name="start-year">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label class="form-label-bold" for="ref-no">Name of hospital</label>
                        <input type="text" class="form-control" id="ref-no">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
                <div class="form-group">
                    <p><a href="exit">Save and come back later</a></p>
                </div>
            </form>
        </div>
        <div class="column-third">
            {% include "../includes/help.html" %}
        </div>
    </div>
</main>
<!-- / #page-container -->
{% endblock %}