{% extends "layout.html" %} 

{% block page_title %}
 Work 
{% endblock %} 

{% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="work-support" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="work">Back</a> 

                {% include "../includes/error-summary.html" %}
                
                <header>
                    <h1 class="form-title heading-large">
						Earnings
					</h1>
                </header>
                <!--working-->
                <div class="form-group" id="working">
                    
                    <div class="form-group" data-required data-error="Select how often you are getting paid">
                        <fieldset>
                            <legend class="form-label-bold" for="howoften1b">How often do you get paid?</legend>
                            <label class="block-label" data-target="daily-pay" for="daily">
                                <input id="daily" type="radio" name="howoften1b" value="daily"> Daily
                            </label>

                            <label class="block-label" data-target="weekly-pay" for="weekly1b">
                                <input id="weekly1b" type="radio" name="howoften1b" value="weekly"> Weekly
                            </label>

                            <label class="block-label" data-target="fortnightly-pay" for="fortnight">
                                <input id="fortnight" type="radio" name="howoften1b" value="fortnight"> Fortnightly
                            </label>

                            <label class="block-label" data-target="fourweek-pay" for="fourweek">
                                <input id="fourweek" type="radio" name="howoften1b" value="fourweek"> Every 4 weeks
                            </label>

                            <label class="block-label" data-target="monthly-pay" for="monthly1b">
                                <input id="monthly1b" type="radio" name="howoften1b" value="monthly"> Monthly
                            </label>

                            <label class="block-label" data-target="yearly-pay" for="yearly1b">
                                <input id="yearly1b" type="radio" name="howoften1b" value="yearly"> Yearly
                            </label>

                            <label class="block-label" for="other1b" class="form-group">
                                <input id="other1b" type="radio" name="howoften1b" value="other"> Other
                            </label>

                            <div class="js-hidden panel panel-border-narrow" id="daily-pay" data-required data-error="Enter how much you are getting paid">
                                
                                <div class="form-group">
                                    <label class="form-label-bold" for="how-much-daily">
                                        How much do you get paid each day?
                                    </label>
                                    &pound;
                                    <input type="text" class="form-control form-control-1-4" id="how-much-daily" name="how-much-daily">
                                </div>
                                <div class="form-group">
                                    <label class="form-label-bold" for="number-days">
                                        How many days a week do you work?
                                    </label>
                                    <input type="text" class="form-control form-control-1-4" id="number-days" name="number-days">
                                </div>
                            </div>
                            <div class="form-group js-hidden panel panel-border-narrow" id="weekly-pay" data-required data-error="Enter how much you are getting paid">
                                <fieldset class="inline form-group" data-required data-error="Select whether you get paid the same">
                                    <legend class="form-label-bold" for="week-regular">Do you get paid the same amount each week?</legend>
                                    <label class="block-label" data-target="yes-weekly" for="week-regular-1">
                                        <input id="week-regular-1" type="radio" name="week-regular" value="Yes"> Yes
                                    </label>
                                    <label class="block-label" data-target="no-weekly" for="week-regular-2">
                                        <input id="week-regular-2" type="radio" name="week-regular" value="No"> No
                                    </label>
                                </fieldset>
                                <div class="js-hidden" id="yes-weekly">
                                    <label class="form-label-bold" for="how-much-weekly">
                                        How much do you get paid each week?
                                    </label>
                                    &pound;
                                    <input type="text" class="form-control form-control-1-4" id="how-much-weekly" name="how-much-weekly">
                                </div>
                                <div class="js-hidden form-group" id="no-weekly">
                                    <h3 class="heading-small">Enter your last 5 weekly payments</h3>

                                    <table>
                                        <thead>
                                            <tr>
                                                <th scope="col" width="20%">Week 1</th>
                                                <th scope="col" width="20%">Week 2</th>
                                                <th scope="col" width="20%">Week 3</th>
                                                <th scope="col" width="20%">Week 4</th>
                                                <th scope="col" width="20%">Week 5</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="numeric">£ <input class="form-control full" id="howmuch0" type="text" name="howmuch1" width="100%"></td>
                                                <td class="numeric">£ <input class="form-control full" id="howmuch1" type="text" name="howmuch1" width="100%"></td>
                                                <td class="numeric">£ <input class="form-control full" id="howmuch2" type="text" name="howmuch1"></td>
                                                <td class="numeric">£ <input class="form-control full" id="howmuch3" type="text" name="howmuch1"></td>
                                                <td class="numeric">£ <input class="form-control full" id="howmuch4" type="text" name="howmuch1"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="form-group js-hidden panel panel-border-narrow" id="fortnightly-pay" data-required data-error="Enter how much you are getting paid">

                                <fieldset class="inline form-group" data-required data-error="Select whether you get paid the same">
                                    <legend class="form-label-bold" for="fortnight-regular">Do you get paid the same amount each fortnight?</legend>
                                    <label class="block-label" data-target="yes-fortnight" for="fortnight-regular-1">
                                        <input id="fortnight-regular-1" type="radio" name="fortnight-regular" value="Yes"> Yes
                                    </label>
                                    <label class="block-label" data-target="no-fortnight" for="fortnight-regular-2">
                                        <input id="fortnight-regular-2" type="radio" name="fortnight-regular" value="No"> No
                                    </label>
                                </fieldset>
                                <div class="js-hidden" id="yes-fortnight"> 
                                    <label class="form-label-bold" for="how-much-fortnight">
                                        How much do you get paid each fortnight?
                                    </label>
                                    &pound;
                                    <input type="text" class="form-control form-control-1-4" id="how-much-fortnight" name="how-much-fortnight">
                                </div>
                                <div class="js-hidden form-group" id="no-fortnight">
                                    <h3 class="heading-small">Enter your last 3 fortnightly payments</h3>

                                    <table>
                                        <thead>
                                            <tr>
                                                <th scope="col" width="33%">Fortnight 1</th>
                                                <th scope="col" width="33%">Fortnight 2</th>
                                                <th scope="col" width="34%">Fortnight 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="numeric">£ <input class="form-control full" id="fn0" type="text" name="fn1" width="100%"></td>
                                                <td class="numeric">£ <input class="form-control full" id="fn1" type="text" name="fn1" width="100%"></td>
                                                <td class="numeric">£ <input class="form-control full" id="fn2" type="text" name="fn1"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group js-hidden panel panel-border-narrow" id="fourweek-pay" data-required data-error="Enter how much you are getting paid">

                                <fieldset class="inline form-group" data-required data-error="Select whether you get paid the same">
                                    <legend class="form-label-bold" for="fourweek-regular">Do you get paid the same amount every 4 weeks?</legend>
                                    <label class="block-label" data-target="yes-fourweek" for="fourweek-regular-1">
                                        <input id="fourweek-regular-1" type="radio" name="fourweek-regular" value="Yes"> Yes
                                    </label>
                                    <label class="block-label" data-target="no-fourweek" for="fourweek-regular-2">
                                        <input id="fourweek-regular-2" type="radio" name="fourweek-regular" value="No"> No
                                    </label>
                                </fieldset>
                                <div class="js-hidden" id="yes-fourweek"> 
                                    <label class="form-label-bold" for="how-much-fourweek">
                                        How much do you get paid every 4 weeks?
                                    </label>
                                    &pound;
                                    <input type="text" class="form-control form-control-1-4" id="how-much-fourweek" name="how-much-fourweek">
                                </div>
                                <div class="js-hidden form-group" id="no-fourweek">
                                    <h3 class="heading-small">Enter your last 2 payments</h3>

                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="numeric" scope="col" width="50%" align="right">1st 4 weeks</th>
                                                <th class="numeric" scope="col" width="50%" align="right">2nd 4 weeks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="numeric">£ <input class="form-control full" id="mz0" type="text" name="mz1" width="100%"></td>
                                                <td class="numeric">£ <input class="form-control full" id="m1z" type="text" name="fnz1" width="100%"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group js-hidden panel panel-border-narrow" id="monthly-pay" data-required data-error="Enter how much you are getting paid">

                                <fieldset class="inline form-group" data-required data-error="Select whether you get paid the same">
                                    <legend class="form-label-bold" for="month-regular">Do you get paid the same amount each month?</legend>
                                    <label class="block-label" data-target="yes-month" for="month-regular-1">
                                        <input id="month-regular-1" type="radio" name="month-regular" value="Yes"> Yes
                                    </label>
                                    <label class="block-label" data-target="no-month" for="month-regular-2">
                                        <input id="month-regular-2" type="radio" name="month-regular" value="No"> No
                                    </label>
                                </fieldset>
                                <div class="js-hidden" id="yes-month"> 
                                    <label class="form-label-bold" for="how-much-monthly">
                                        How much do you get paid each month?
                                    </label>
                                    &pound;
                                    <input type="text" class="form-control form-control-1-4" id="how-much-monthly" name="how-much-monthly">
                                </div>
                                <div class="js-hidden form-group" id="no-month">
                                    <h3 class="heading-small">Enter your last 2 monthly payments</h3>

                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="numeric" scope="col" width="50%" align="right">Month 1</th>
                                                <th class="numeric" scope="col" width="50%" align="right">Month 2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="numeric">£ <input class="form-control full" id="m0" type="text" name="m1" width="100%"></td>
                                                <td class="numeric">£ <input class="form-control full" id="m1" type="text" name="fn1" width="100%"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="form-group js-hidden panel panel-border-narrow" id="yearly-pay" data-required data-error="Enter how much you are getting paid">
                                <label class="form-label-bold" for="how-much-yearly">
                                    How much do you get paid each year?
                                </label>
                                &pound;
                                <input type="text" class="form-control form-control-1-4" id="how-much-yearly" name="how-much-yearly">
                            </div>

                        </fieldset>
                    </div>
                    <div class="form-group js-hidden panel panel-border-narrow" id="daily-pay" data-required data-error="Enter how much you are getting paid">
                        <label class="form-label-bold" for="how-much-daily">
                            How much do you get paid each day?
                        </label>
                        &pound;
                        <input type="text" class="form-control form-control-1-4" id="how-much-daily" name="how-much-daily">
                    </div>

                    <fieldset class="inline" data-required data-error="Select whether you get expenses of not">
                        <legend class="form-label-bold" for="expenses">Does your employer pay you expenses?</legend>
                        <label class="block-label" data-target="expenses" for="expenses-1">
                            <input id="expenses-1" type="radio" name="expenses" value="Yes"> Yes
                        </label>
                        <label class="block-label" for="expenses-2">
                            <input id="expenses-2" type="radio" name="expenses" value="No"> No
                        </label>
                    </fieldset>
                    <div class="form-group js-hidden panel panel-border-narrow" id="expenses" data-required data-error="Enter what your expenses are for">
                        <label class="form-label-bold" for="how-much-daily">
                            What are your expenses for?
                        </label>
                        <input type="text" class="form-control" id="how-much-daily" name="how-much-daily">
                    </div>
                </div>
                <!--end working-->
                
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
                <div class="form-group">
                    <p><a href="exit">Save and come back later</a></p>
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}