{% extends "layout.html" %}

{% block page_title %}
  Contact details
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

	<form action="contact-pref" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
        <a class="link-back" href="personal-details">Back</a>
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 3 of 23</span> -->
			      Address
			    </h1>
			  </header>

        <p>Enter an address where you want letters about your claim to be posted.</p>

        <div class="form-group">
          <fieldset>

            <div class="form-group">
              <label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
              <label class="form-label"><input type="text" class="form-control" id="address-line2" style="margin-top:8px"></label>
              <label class="form-label"><input type="text" class="form-control" id="address-line3" style="margin-top:8px"></label>
            </div>

            <div class="form-group">
              <label class="form-label-bold" for="postcode">Postcode</label>
              <input type="text" class="form-control form-control-1-4" id="postcode">
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <fieldset class="inline">

            <p class="form-label-bold">
              Do you need letters in a different format eg braille, large print or audio CD?
            </p>

            <label for="radio-part-2" data-target="format" class="block-label">
              <input id="radio-part-2" type="radio" name="housing-act" value="Yes">
              Yes
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="No">
              No
            </label>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow form-group js-hidden" id="format">
          <fieldset class="">
            <legend class="form-labl-bold">What format do you need?</legend>
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="partner" value="Yes">
              Large print
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="partner" value="No">
              Braille
            </label>
            <label class="block-label" for="radio-inline-7">
              <input id="radio-inline-7" type="radio" name="partner" value="No">
              Audio CD
            </label>
          </fieldset>
        </div>


        <!-- Primary buttons, secondary links -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
        </div>

      </div>
      <div class="column-one-third">
      	{% include "../includes/help.html" %}
      </div>
    </div>

  </form>
</main>

{% endblock %}
