{% extends "layout.html" %}

{% block page_title %}
  Alternative formats
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

	<form action="your-money" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
        <a class="link-back" href="contact-details">Back</a>
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 3 of 23</span> -->
			      Contact details
			    </h1>
			  </header>

        <div class="form-group">
          <label class="form-label-bold" for="phone">Phone number</label>
          <input type="text" class="form-control" id="phone">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="phone2">Other number</label>
          <input type="text" class="form-control" id="phone2">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="email">Email</label>
          <input type="text" class="form-control" id="email">
        </div>

        <!-- Primary buttons, secondary links -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
        </div>

      </div>
      <div class="column-one-third">
      	{% include "../includes/help.html" %}
      </div>
    </div>

  </form>
</main>

{% endblock %}
