{% extends "layout.html" %} 

{% block page_title %}
 Work
{% endblock %} 

{% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="statutory-payments" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="work-off">Back</a> 

                {% include "../includes/error-summary.html" %}
                
                <header>
                    <h1 class="form-title heading-large">
						Work end date
					</h1>
                </header>
                
                <div class="form-group form-date">
                    <legend class="form-label-bold">What date did you finish work?</legend>

                    <p class="form-hint">DD MM YYYY</p>

                    <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input type="text" class="form-control" id="dob-day" maxlength="2" name="dob-day">
                    </div>
                    <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input type="text" class="form-control" id="dob-month" maxlength="2" name="dob-month">
                    </div>
                    <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input type="text" class="form-control" id="dob-year" maxlength="4" name="dob-year">
                    </div>
                </div>
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}
