{% extends "layout.html" %} 

{% block page_title %}
 Work 
{% endblock %} 

{% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="work-income" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="work">Back</a> 

                {% include "../includes/error-summary.html" %}
                
                <header>
                    <h1 class="form-title heading-large">
						<!-- <span class="heading-secondary">Section 5 of 23</span> -->
						Hours you work
					</h1>
                </header>
                <!--working-->

                <div class="form-group" data-required data-error="Enter how many hours you are working">
                    <label class="form-label-bold" for="hours">
                        How many hours a week are you working at the moment?
                    </label>
                    <p>If your hours vary, enter an average.</p>
                    <input type="text" class="form-control form-control-1-8" id="hours" name="hours">
                </div>
                <div class="form-group">
                    <fieldset class="inline form-group">
                        <legend class="form-label-bold">Has the number of hours you work a week changed as a result of your condition?<legend>
                        <label class="block-label" data-target="yes-hours" for="radio--3">
                            <input id="radio--3" type="radio" name="part" value="Yes">
                            Yes
                        </label>
                        <label class="block-label" for="radio--4">
                            <input id="radio--4" type="radio" name="part" value="No">
                            No
                        </label>
                    </fieldset>
                </div>

                <div class="js-hidden panel panel-border-narrow form-group" id="yes-hours" data-error="Enter how many hours you are working">
                    <label class="form-label-bold" for="hours2">
                        How many hours a week did you work before they changed?
                    </label>
                    <p>If your hours varied, enter an average.</p>
                    <input type="text" class="form-control form-control-1-8" id="hours2" name="hours2">
                </div>

                <!--end working-->
                
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}