{% extends "layout.html" %}

{% block page_title %}
  Education
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="other-money">Back</a>


      <form action="hrt" method="#" class="form">

      <h1 class="form-title heading-large">
        Education
      </h1>

      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label-bold" for="question1">Are you currently in education?</legend>
          <label class="block-label" data-target="education" for="livewith1">
            <input id="livewith1" type="radio" name="question1" value="Yes">
            Yes
          </label>
          <label class="block-label" for="livewith2">
            <input id="livewith2" type="radio" name="question1" value="No">
            No
          </label>
        </fieldset>
      </div>

<!-- Education box -->
      <div class="panel panel-border-narrow js-hidden" id="education">
        <fieldset class="inline">
          <legend class="form-label-bold" for="hours">How many hours a week are you in education?</legend>
          <label class="block-label" data-target="course-details" for="radio-inline-5">
            <input id="radio-inline-5" type="radio" name="hours" value="Yes">
            Less than 16 hours a week
          </label>
          <label class="block-label" data-target="more16" for="radio-inline-6">
            <input id="radio-inline-6" type="radio" name="hours" value="No">
            16 hours or more  a week
          </label>
        </fieldset>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="more16">
        <fieldset class="inline">
          <legend class="form-label-bold" for="dla">Are you currently getting Disability Living Allowance (DLA) or Personal Independence Payment (PIP)?</legend>
          <label class="block-label" data-target="course-details" for="radio-inline-7">
            <input id="radio-inline-7" type="radio" name="dla" value="Yes">
            Yes
          </label>
          <label class="block-label" for="radio-inline-8">
            <input id="radio-inline-8" type="radio" name="dla" value="No">
            No
          </label>
        </fieldset>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="course-details">
        <div class="form-group" style="margin-top: 15px;">
          <label class="form-label-bold" for="surgery-name">Course name</label>
          <input type="text" class="form-control" id="surgery-name">
        </div>
        <div class="form-group">
          <legend class="form-label-bold" for="address">Address of school, college or university</legend>
          <div class="form-group">
            <label class="form-label" for="address-a">Building and street</label>
            <input type="text" name="address" id="address-a" class="form-control" value="">
            <input type="text" name="address" id="address-b" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="town" class="form-label">Town or city</label>
            <input type="text" name="town" id="town" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="postCode" class="form-label">Postcode</label>
            <input type="text" name="postCode" id="postCode" class="form-control" value="">
          </div>
        </div>

        <fieldset class="form-group">
          <legend class="form-label-bold">When did your course start?</legend>

          <div class="form-date">
            <p class="form-hint">DD MM YYYY</p>

            <div class="form-group form-group-day">
              <label for="start-day">Day</label>
              <input type="text" class="form-control" id="start-day" maxlength="2" name="start-day">
            </div>
            <div class="form-group form-group-month">
              <label for="start-month">Month</label>
              <input type="text" class="form-control" id="start-month" maxlength="2" name="start-month">
            </div>
            <div class="form-group form-group-year">
              <label for="start-year">Year</label>
              <input type="text" class="form-control" id="start-year" maxlength="4" name="start-year">
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="form-label-bold">When does the course end?</legend>

          <div class="form-date">
            <p class="form-hint">DD MM YYYY</p>
            <div class="form-group form-group-day">
              <label for="end-day">Day</label>
              <input type="text" class="form-control" id="end-day" maxlength="2" name="end-day">
            </div>
            <div class="form-group form-group-month">
              <label for="end-month">Month</label>
              <input type="text" class="form-control" id="end-month" maxlength="2" name="end-month">
            </div>
            <div class="form-group form-group-year">
              <label for="end-year">Year</label>
              <input type="text" class="form-control" id="end-year" maxlength="4" name="end-year">
            </div>
          </div>
        </fieldset>
      </div>
<!-- Education end -->

      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label-bold" for="question2">Are you currently in training?</legend>
          <label class="block-label" data-target="training" for="livewith3">
            <input id="livewith3" type="radio" name="question2" value="Yes">
            Yes
          </label>
          <label class="block-label" for="livewith4">
            <input id="livewith4" type="radio" name="question2" value="No">
            No
          </label>
        </fieldset>
      </div>

<!-- Training box -->
      <div class="panel panel-border-narrow js-hidden" id="training">
        <fieldset class="inline">
          <legend class="form-label-bold" for="hours-train">How many hours a week are you in training?</legend>
          <label class="block-label" data-target="training-details" for="radio-inline-15">
            <input id="radio-inline-15" type="radio" name="hours-train" value="Yes">
            Less than 16 hours a week
          </label>
          <label class="block-label" data-target="train16" for="radio-inline-16">
            <input id="radio-inline-16" type="radio" name="hours-train" value="No">
            16 hours or more a week
          </label>
        </fieldset>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="train16">
        <fieldset class="inline">
          <legend class="form-label-bold" for="dla2">Are you currently getting Disability Living Allowance (DLA) or Personal Independence Payment (PIP)?</legend>
          <label class="block-label" data-target="training-details" for="radio-inline-17">
            <input id="radio-inline-17" type="radio" name="dla2" value="Yes">
            Yes
          </label>
          <label class="block-label" for="radio-inline-18">
            <input id="radio-inline-18" type="radio" name="dla2" value="No">
            No
          </label>
        </fieldset>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="training-details">
        <div class="form-group" style="margin-top: 15px;">
          <label class="form-label-bold" for="training-name">Name of training scheme</label>
          <input type="text" class="form-control" id="training-name">
        </div>
        <div class="form-group">
          <legend class="form-label-bold" for="address1">Address where you're being trained</legend>
          <div class="form-group">
            <label class="form-label" for="address1-a">Building and street</label>
            <input type="text" name="address1" id="address1-a" class="form-control" value="">
            <input type="text" name="address1" id="address1-b" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="town1" class="form-label">Town or city</label>
            <input type="text" name="town1" id="town1" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="postCode1" class="form-label">Postcode</label>
            <input type="text" name="postCode1" id="postCode1" class="form-control" value="">
          </div>
        </div>

        <fieldset class="form-group">
          <legend class="form-label-bold">When did your training start?</legend>

          <div class="form-date">
            <p class="form-hint">DD MM YYYY</p>

            <div class="form-group form-group-day">
              <label for="train-day">Day</label>
              <input type="text" class="form-control" id="train-day" maxlength="2" name="train-day">
            </div>
            <div class="form-group form-group-month">
              <label for="train-month">Month</label>
              <input type="text" class="form-control" id="train-month" maxlength="2" name="train-month">
            </div>
            <div class="form-group form-group-year">
              <label for="train-year">Year</label>
              <input type="text" class="form-control" id="train-year" maxlength="4" name="train-year">
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="form-label-bold">When does your training end?</legend>

          <div class="form-date">
            <p class="form-hint">DD MM YYYY</p>

            <div class="form-group form-group-day">
              <label for="train-end-day">Day</label>
              <input type="text" class="form-control" id="train-end-day" maxlength="2" name="train-end-day">
            </div>
            <div class="form-group form-group-month">
              <label for="train-end-month">Month</label>
              <input type="text" class="form-control" id="train-end-month" maxlength="2" name="train-end-month">
            </div>
            <div class="form-group form-group-year">
              <label for="train-end-year">Year</label>
              <input type="text" class="form-control" id="train-end-year" maxlength="4" name="train-end-year">
            </div>
          </div>
        </fieldset>
      </div>
<!-- Training end -->

      <div class="form-group">
        <fieldset class="inline">
          <legend class="form-label-bold" for="question3">Are you currently in an apprenticeship?</legend>
          <label class="block-label" data-target="app" for="livewith5">
            <input id="livewith5" type="radio" name="question3" value="Yes">
            Yes
          </label>
          <label class="block-label" for="livewith6">
            <input id="livewith6" type="radio" name="question3" value="No">
            No
          </label>
        </fieldset>
      </div>

<!-- Apprenticeship box -->
      <div class="panel panel-border-narrow js-hidden" id="app">
        <fieldset class="inline">
          <legend class="form-label-bold" for="hours-app">How many hours a week are you on your apprenticeship?</legend>
          <label class="block-label" data-target="app-details" for="radio-inline-25">
            <input id="radio-inline-25" type="radio" name="hours-app" value="Yes">
            Less than 16 hours a week
          </label>
          <label class="block-label" data-target="app16" for="radio-inline-26">
            <input id="radio-inline-26" type="radio" name="hours-app" value="No">
            16 hours or more a week
          </label>
        </fieldset>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="app16">
        <div class="form-group">
          <label class="form-label-bold" for="howmuch1">How many hours a week are you in education?</label>
          <input class="form-control form-control-1-4" id="howmuch1" type="text" name="howmuch1">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="howmuch2">How many hours a week are you in work?</label>
          <input class="form-control form-control-1-4" id="howmuch2" type="text" name="howmuch2">
        </div>

        <fieldset class="inline">
          <legend class="form-label-bold" for="dla3">Are you currently getting Disability Living Allowance (DLA) or Personal Independence Payment (PIP)?</legend>
          <label class="block-label" data-target="app-details" for="radio-inline-37">
            <input id="radio-inline-37" type="radio" name="dla3" value="Yes">
            Yes
          </label>
          <label class="block-label" for="radio-inline-38">
            <input id="radio-inline-38" type="radio" name="dla3" value="No">
            No
          </label>
        </fieldset>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="app-details">
        <div class="form-group" style="margin-top: 15px;">
          <label class="form-label-bold" for="app-name">Apprenticeship name</label>
          <input type="text" class="form-control" id="app-name">
        </div>
        <div class="form-group">
          <legend class="form-label-bold" for="address2">Address of apprenticeship</legend>
          <div class="form-group">
            <label class="form-label" for="address2-a">Building and street</label>
            <input type="text" name="address2" id="address2-a" class="form-control" value="">
            <input type="text" name="address2" id="address2-b" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="town2" class="form-label">Town or city</label>
            <input type="text" name="town2" id="town2" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="postCode2" class="form-label">Postcode</label>
            <input type="text" name="postCode2" id="postCode2" class="form-control" value="">
          </div>
        </div>

        <fieldset class="form-group">
          <legend class="form-label-bold">When did your apprenticeship start?</legend>

          <div class="form-date">
            <p class="form-hint">DD MM YYYY</p>

            <div class="form-group form-group-day">
              <label for="app-day">Day</label>
              <input type="text" class="form-control" id="app-day" maxlength="2" name="app-day">
            </div>
            <div class="form-group form-group-month">
              <label for="app-month">Month</label>
              <input type="text" class="form-control" id="app-month" maxlength="2" name="app-month">
            </div>
            <div class="form-group form-group-year">
              <label for="app-year">Year</label>
              <input type="text" class="form-control" id="app-year" maxlength="4" name="app-year">
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="form-label-bold">When does your apprenticeship end?</legend>

          <div class="form-date">
            <p class="form-hint">DD MM YYYY</p>

            <div class="form-group form-group-day">
              <label for="app-end-day">Day</label>
              <input type="text" class="form-control" id="app-end-day" maxlength="2" name="app-end-day">
            </div>
            <div class="form-group form-group-month">
              <label for="app-end-month">Month</label>
              <input type="text" class="form-control" id="app-end-month" maxlength="2" name="app-end-month">
            </div>
            <div class="form-group form-group-year">
              <label for="app-end-year">Year</label>
              <input type="text" class="form-control" id="app-end-year" maxlength="4" name="app-end-year">
            </div>
          </div>
        </fieldset>
      </div>
<!-- Apprenticeship end -->

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </div>
    <div class="column-third">
      {% include "../includes/help.html" %}
    </div>
  </div>


</main><!-- / #page-container -->

{% endblock %}
