{% extends "layout.html" %}

{% block page_title %}
  Help with your application
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

	<form action="personal-details" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
        <a class="link-back" href="invite">Back</a>

    		<header>
    	    <h1 class="form-title heading-large">
    	    	<!-- <span class="heading-secondary">Section 1 of 23</span> -->
    	      Are you applying for yourself?
    	    </h1>
    	  </header>

    	  <div class="form-group">
          <fieldset>

            <label for="third-party-yes" class="block-label">
              <input type="radio" id="third-party-yes" name="third" value="Yes">
              Yes, I'm applying for myself
            </label>

            <label for="third-party-no" data-target="third-party" class="block-label">
              <input type="radio" id="third-party-no" name="third" value="No">
              Yes, with help from someone else
            </label>

            <label for="third-party-else" data-target="appointee" class="block-label">
              <input type="radio" id="third-party-else" name="third" value="No">
              No, I'm applying on behalf of someone else
            </label>

            <div class="panel panel-border-narrow js-hidden" id="third-party">
            	<div class="form-group">
    	          <label for="name" class="form-label">
    	            The name of the person helping you
    	          </label>
    	          <input class="form-control" type="text" id="name">
            	</div>

            	<div class="form-group">
    	          <label for="relationship" class="form-label">
    	            How you know them
    	          </label>
    	          <input class="form-control" type="text" id="relationship">
    	        </div>

    	        <div class="form-group">
    	          <label for="why" class="form-label">
    	            Why they're helping you
    	          </label>
    	          <textarea class="form-control form-control-2-3" type="text" id="why"></textarea>
    	        </div>
            </div>


            <!-- appointee section -->
            <div class="panel panel-border-narrow form-group js-hidden" id="appointee">
              <fieldset class="form-group">
                <legend class="form-label-bold">You are completing this application on their behalf because:</legend>
                <label for="powerOfAttourney" class="block-label" data-target="power-of-attorney">
                  <input type="radio" id="powerOfAttourney" name="representativeReason" value="I am their registered Power of Attourney">
                   you are their registered power of attorney
                </label>
                <label for="courtOfLaw" class="block-label" data-target="deputy">
                  <input type="radio" id="courtOfLaw" name="representativeReason" value="Deputy for them under a court of law">
                  you are their deputy authorised by the Court of Protection
                </label>
                <label for="appointee-check" class="block-label" data-target="registeredAppointee">
                  <input type="radio" id="appointee-check" name="representativeReason" value="APPOINTEE">
                  you are their registered appointee
                </label>
                <label for="ownAffairs" class="block-label" data-target="filling-in">
                  <input type="radio" id="ownAffairs" name="representativeReason" value="They cannot manage own affairs">
                  they can't manage their own affairs
                </label>
                <label class="block-label" data-target="filling-in" for="yearly1">
                  <input id="yearly1" type="radio" name="representativeReason" value="other">
                  Other
                </label>
              </fieldset>

              <div class="panel panel-border-narrow form-group js-hidden" id="registeredAppointee">
                <h2 class="heading-medium">Appointee details</h2>
                <div class="form-group">
                  <label for="forenameAppointee" class="form-label">Forename</label>
                  <input type="text" name="forenameAppointee" id="forenameAppointee" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="surnameAppointee" class="form-label">Surname</label>
                  <input type="text" name="surnameAppointee" id="surnameAppointee" class="form-control" value="">
                </div>
              </div>

              <!--Power of attorney-->

              <div class="panel panel-border-narrow form-group js-hidden" id="power-of-attorney">
                <h2 class="heading-medium">Power of attorney details</h2>
                <div class="form-group">
                  <label for="title-pa" class="form-label">Title</label>
                  <input type="text" name="title-pa" id="title-pa" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="forename-pa" class="form-label">First name</label>
                  <input type="text" name="forename-pa" id="forename-pa" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="surname-pa" class="form-label">Last name</label>
                  <input type="text" name="surname-pa" id="surname-pa" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="otherName-pa" class="form-label">Other name</label>
                  <input type="text" name="otherName-pa" id="otherName-pa" class="form-control" value="">
                </div>

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Date of birth</span></legend>

                    <div class="form-date">
                      <p class="form-hint">DD MM YYYY</p>
                      
                      <div class="form-group form-group-day">
                        <label for="dob-day-pa">Day</label>
                        <input type="text" class="form-control" id="dob-day-pa" maxlength="2" name="dobDay" value="">
                      </div>
                      <div class="form-group form-group-month">
                        <label for="dob-month-pa">Month</label>
                        <input type="text" class="form-control" id="dob-month-pa" maxlength="2" name="dobMonth" value="">
                      </div>
                      <div class="form-group form-group-year">
                        <label for="dob-year-pa">Year</label>
                        <input type="text" class="form-control" id="dob-year-pa" maxlength="4" name="dobYear" value="">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="form-group">
                  <label for="nino-pa" class="form-label">National Insurance number</label>
                  <input type="text" name="nino" id="nino-pa" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="mobileTelephoneNumber-pa" class="form-label">Mobile telephone number</label>
                  <input type="text" name="mobileTelephoneNumber" id="mobileTelephoneNumher-pa" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input type="text" name="address1" id="address1-pa" class="form-control" value="">
                  <input type="text" name="address2" id="address2-pa" class="form-control" value="">
                  <input type="text" name="address3" id="address3-pa" class="form-control" value="">
                  <input type="text" name="address4" id="address4-pa" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="postCode-pa" class="form-label">Postcode</label>
                  <input type="text" name="postCode" id="postCode-pa" class="form-control" value="">
                </div>
              </div>

              <!--Deputy-->
              <div class="panel panel-border-narrow form-group js-hidden" id="deputy">
                <h2 class="heading-medium">Deputy details</h2>
                <div class="form-group">
                  <label for="title-dep" class="form-label">Title</label>
                  <input type="text" name="title" id="title-dep" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="forename-dep" class="form-label">First name</label>
                  <input type="text" name="forename" id="forename-dep" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="surname-dep" class="form-label">Last name</label>
                  <input type="text" name="surname" id="surname-dep" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="otherName-dep" class="form-label">Other name</label>
                  <input type="text" name="otherName" id="otherName-dep" class="form-control" value="">
                </div>

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Date of birth</span></legend>

                    <div class="form-date">
                      <p class="form-hint">DD MM YYYY</p>
                      
                      <div class="form-group form-group-day">
                        <label for="dob-day-dep">Day</label>
                        <input type="text" class="form-control" id="dob-day-dep" maxlength="2" name="dobDay" value="">
                      </div>
                      <div class="form-group form-group-month">
                        <label for="dob-month-dep">Month</label>
                        <input type="text" class="form-control" id="dob-month-dep" maxlength="2" name="dobMonth" value="">
                      </div>
                      <div class="form-group form-group-year">
                        <label for="dob-year-dep">Year</label>
                        <input type="text" class="form-control" id="dob-year-dep" maxlength="4" name="dobYear" value="">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="form-group">
                  <label for="nino-dep" class="form-label">National Insurance number</label>
                  <input type="text" name="nino" id="nino-dep" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="mobileTelephoneNumber-dep" class="form-label">Mobile telephone number</label>
                  <input type="text" name="mobileTelephoneNumber" id="mobileTelephoneNumher-dep" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input type="text" name="address1" id="address1-dep" class="form-control" value="">
                  <input type="text" name="address2" id="address2-dep" class="form-control" value="">
                  <input type="text" name="address3" id="address3-dep" class="form-control" value="">
                  <input type="text" name="address4" id="address4-dep" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="postCode-dep" class="form-label">Postcode</label>
                  <input type="text" name="postCode" id="postCode-dep" class="form-control" value="">
                </div>
              </div>

              <!--filling in on behalf of-->
              <div class="panel panel-border-narrow form-group js-hidden" id="filling-in">
                <h2 class="heading-medium">Details of the person helping with the application</h2>
                <div class="form-group">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" name="title" id="title" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="forename" class="form-label">First name</label>
                  <input type="text" name="forename" id="forename" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="surname" class="form-label">Last name</label>
                  <input type="text" name="surname" id="surname" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="otherName" class="form-label">Other name</label>
                  <input type="text" name="otherName" id="otherName" class="form-control" value="">
                </div>

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Date of birth</span></legend>

                    <div class="form-date">
                      <p class="form-hint">DD MM YYYY</p>
                      
                      <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input type="text" class="form-control" id="dob-day" maxlength="2" name="dobDay" value="">
                      </div>
                      <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input type="text" class="form-control" id="dob-month" maxlength="2" name="dobMonth" value="">
                      </div>
                      <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input type="text" class="form-control" id="dob-year" maxlength="4" name="dobYear" value="">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="form-group">
                  <label for="nino" class="form-label">National Insurance number</label>
                  <input type="text" name="nino" id="nino" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="mobileTelephoneNumber" class="form-label">Mobile telephone number</label>
                  <input type="text" name="mobileTelephoneNumber" id="mobileTelephoneNumher" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input type="text" name="address1" id="address1" class="form-control" value="">
                  <input type="text" name="address2" id="address2" class="form-control" value="">
                  <input type="text" name="address3" id="address3" class="form-control" value="">
                  <input type="text" name="address4" id="address4" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="postCode" class="form-label">Postcode</label>
                  <input type="text" name="postCode" id="postCode" class="form-control" value="">
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="representativeReason" class="form-label">Representative reason</label>
                <input type="text" name="representativeReason" id="representativeReason" class="form-control" value="APPOINTEE">
              </div> -->
            </div>



          </fieldset>
        </div>

        <!-- Primary buttons, secondary links -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
        </div>

      </div>
      <div class="column-one-third">
      	{% include "../includes/help.html" %}
      </div>
    </div>

  </form>
</main>

{% endblock %}
