{% extends "layout.html" %} {% block page_title %} Housing benefit {% endblock %} {% block content %}
<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="household-rent">Back</a>
            <form action="council-tax" method="#" class="form">
                <h1 class="form-title heading-large">Housing Benefit</h1>
                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="form-label-bold heading-large" for="partner">Are you getting Housing Benefit or waiting to get it?</legend>
                        <label class="block-label" for="radio-inline-1">
                            <input id="radio-inline-1" type="radio" name="partner" value="Yes"> Yes
                        </label>
                        <label class="block-label" for="radio-inline-2">
                            <input id="radio-inline-2" type="radio" name="partner" value="No"> No
                        </label>
                    </fieldset>
                </div>
                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
                <div class="form-group">
                    <p><a href="exit">Save and come back later</a></p>
                </div>
            </form>
        </div>
        <div class="column-third">
            {% include "../includes/help.html" %}
        </div>
    </div>
</main>
<!-- / #page-container -->
{% endblock %}