{% extends "layout.html" %} 

{% block page_title %}
 Employment details 
{% endblock %} 

{% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="work-type" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="work-address">Back</a> 

                {% include "../includes/error-summary.html" %}
                
                <header>
                    <h1 class="form-title heading-large">
						<!-- <span class="heading-secondary">Section 5 of 23</span> -->
						Employment details
					</h1>
                </header>
                
                
                <!--employed-->

                <div class="form-group" data-required data-error="Enter your job title">
                    <label class="form-label-bold" for="job-title">Job title</label>
                    <input type="text" class="form-control" id="job-title">
                </div>
                <div class="form-group" data-required data-error="Enter the company name">
                    <label class="form-label-bold" for="company-name">Company name</label>
                    <input type="text" class="form-control" id="company-name">
                </div>
                <div class="form-group">
                    <legend class="form-label-bold" for="address1">Company address</legend>
                    <div class="form-group">
                        <label class="form-label" for="address1-a">Building and street</label>
                        <input type="text" name="address1" id="address1-a" class="form-control" value="">
                        <input type="text" name="address1" id="address1-a" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="town1" class="form-label">Town or city</label>
                        <input type="text" name="town" id="town1" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="county1" class="form-label">County (optional)</label>
                        <input type="text" name="county1" id="county1" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="postCode1" class="form-label">Postcode</label>
                        <input type="text" name="postCode1" id="postCode1" class="form-control form-control-1-4" value="">
                    </div>
                </div>
                
                <!--end employed-->
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}