{% extends "layout.html" %} 

{% block page_title %}
 Volunteering 
{% endblock %} 

{% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="work" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="your-money">Back</a> 

                {% include "../includes/error-summary.html" %}
                
                <header>
                    <h1 class="form-title heading-large">
						<!-- <span class="heading-secondary">Section 5 of 23</span> -->
						Volunteering
					</h1>
                </header>
                <div class="form-group">
                    <label class="form-label-bold" for="vol-job-title">Position</label>
                    <input type="text" class="form-control" id="vol-job-title">
                </div>

                <div class="form-group">
                    <label class="form-label-bold" for="volunteer-name">Who are you volunteering for?</label>
                    <input type="text" class="form-control" id="volunteer-name">
                </div>

                <p class="form-label-bold">Address where you are volunteering</p>
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label" for="address-a">House or flat number and street</label>
                        <input type="text" name="address" id="address-a" class="form-control" value="">
                        <input type="text" name="address" id="address-a" class="form-control" value="">
                    </div>
                    <div class="form-group" data-required data-error="Enter your town or city">
                        <label for="town" class="form-label">Town or city</label>
                        <input type="text" name="town" id="town" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="county" class="form-label">County (optional)</label>
                        <input type="text" name="county" id="county" class="form-control" value="">
                    </div>
                    <div class="form-group" data-required data-error="Enter your postcode">
                        <label for="postCode" class="form-label">Postcode</label>
                        <input type="text" name="postCode" id="postCode" class="form-control" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label-bold" for="volunteer-hours">
                        How many hours a week are you volunteering?
                    </label>
                    <input type="text" class="form-control form-control-1-8" id="volunteer-hours" name="volunteer-hours">
                </div>

                <fieldset class="inline form-group">
                    <legend class="form-label-bold" for="volunteer-return">Do you get anything in return for volunteering eg expenses, food or accomodation?</legend>
                    <label class="block-label" data-target="in-return" for="director-1">
                    <input id="director-1" type="radio" name="volunteer-return" value="Yes">
                    Yes
                    </label>
                    <label class="block-label" for="director-2">
                    <input id="director-2" type="radio" name="volunteer-return" value="No">
                    No
                    </label>

                </fieldset>
                <div class="form-group js-hidden panel panel-border-narrow" id="in-return">
                    <label class="form-label" for="volunteer-get">
                        What do you get in return for volunteering?
                    </label>
                    <input type="text" class="form-control" id="volunteer-get" name="volunteer-get">
                </div>
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}
