{% extends "layout.html" %} 

{% block page_title %}
 Company Director
{% endblock %} 

{% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="volunteering" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="your-money">Back</a> 

                {% include "../includes/error-summary.html" %}
                
                <header>
                    <h1 class="form-title heading-large">
						Work
					</h1>
                </header>
                
                <fieldset class="inline form-group" data-required data-error="Select whether you're a company director">
                    <legend class="form-label-bold" for="directory">Are you temporarily off work because of your illness or condition?</legend>
                    <label class="block-label" for="director-1a">
                        <input id="director-1a" type="radio" name="directory" value="yes"> Yes
                    </label>
                    <label class="block-label" for="director-2ay">
                        <input id="director-2ay" type="radio" name="directory" value="No"> No, you're not working
                    </label>
                </fieldset>
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}


{% block body_end %}
  {% include "includes/scripts.html" %}
  <script>
    $('form').on('submit', function(e) {
        
        switch($('input[name="directory"]:checked').val()){
            case 'yes':
                window.location = 'work-type';
            break;

            default:
                window.location = 'volunteering';
            break;
        }
      
      e.preventDefault();
    });
  </script>
{% endblock %}