{% extends "admin-layout.html" %}

{% block title %}
  Identifying Condition Recovery date
{% endblock %}

{% block content %}


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" id="logo" class="content adminlogo">
              DWP
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <nav id="proposition-menu">
              <a href="/" id="proposition-name">ESA Applications</a>
            </nav>
          </div>
        </div>
      </div>

      <div class="admin-header-wrapper">
        <div class="admin-header-content">
          <ul>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="admin-wrapper">
      <div class="admin-column-wrapper">
        <div class="admin-content-wrapper">
          <div class="admin-content">
            <h1 class="heading-large">Add an email</h1>
            <div class="form-group">
              <label class="form-label" for="email-f1">Email address</label>
              <input class="form-control" id="email-f1" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="email-f2">Confirm email address</label>
              <input class="form-control" id="email-f2" type="text">
            </div>
            <div class="form-group">
              <a href="#" class="button">Add</a>
            </div>
          </div>
        </div>

        <div class="admin-sidebar-wrapper">
          <div class="admin-sidebar-content">
            <ul>
              <li><a href="list-view">New claims</a></li>
              <li><a href="archived-claims">Archived claims</a></li>
              <li class="active"><a href="add-an-email">Add an email</a></li>
              <li><a href="email-list">Email list</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

