{% extends "admin-layout.html" %}

{% block title %}
  Identifying Condition Recovery date
{% endblock %}

{% block content %}


<header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" id="logo" class="content dwplogo">
              DWP
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <nav id="proposition-menu">
              <a href="/" id="proposition-name">Design patterns</a>
            </nav>
          </div>
        </div>
      </div>

      <div class="admin-header-wrapper">
        <div class="admin-header-content">
          <ul>
            <li><a href="#">Action link 1</a></li>
            <li><a href="#">Action link 2</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="admin-wrapper">
      <div class="admin-column-wrapper">
        <div class="admin-content-wrapper">
          <div class="admin-content">
            <div class="admin-submenu-container">
            <h1 class="heading-xlarge">Section heading</h1>

            <div class="admin-submenu">
              <ul>
                <li><a href="#">Section 1</a></li>
                <li><a href="#">Section 2</a></li>
                <li><a href="#">Section 3</a></li>
                <li><a href="#">Section 4</a></li>
                <li><a href="#">Section 5</a></li>
              </ul>
            </div>

            <div class="admin-panes">
              <div class="admin-pane">
                Section 1
              </div>

              <div class="admin-pane">
                Section 2
              </div>

              <div class="admin-pane">
                Section 3
              </div>

              <div class="admin-pane">
                Section 4
              </div>

              <div class="admin-pane">
                Section 5
              </div>
            </div>
          </div>
          </div>
        </div>

        <div class="admin-sidebar-wrapper">
          <div class="admin-sidebar-content">
            <ul>
              <li><a href="adminmenus">Area 1</a></li>
              <li><a href="#">Area 2</a></li>
              <li><a href="#">Area 3</a></li>
              <li><a href="#">Area 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block body_end %}
  {% include "includes/scripts.html" %}
  <script>
    $(document).ready(function () {
      // Get the URL
      var url = window.location.href.split('/').pop();

      if (url === '') {
        url = '/';
      }

      // Check the href of each link in the sidebar
      $('.admin-sidebar-content a').each(function () {
        if (url === $(this).attr('href')) {
          // If the href matches the current URL set it as active
          $(this).parents('li').addClass('active');
        }
      });
  </script>
{% endblock %}