{% extends "layout.html" %}

{% block page_title %}
	GP Details
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_alpha.html" %}

	<form action="special-rules" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<a class="link-back" href="housing-benefit">Back</a>
				<header>
					<h1 class="form-title heading-large">
						<!-- <span class="heading-secondary">Section 10 of 23</span> -->
						Your GP's details
					</h1>
				</header>

			<div class="form-group">
			<label class="form-label-bold" for="full-name">
			GP's name or surgery name
			</label>
			<input type="text" class="form-control" id="full-name" name="full-name">
			</div>

			<div class="form-group">
        <legend class="form-label-bold" for="address">Their address</legend>
        <div class="form-group">
          <label class="form-label" for="address-a">Building and street</label>
          <input type="text" name="address" id="address-a" class="form-control" value="">
          <input type="text" name="address" id="address-a" class="form-control" value="">
        </div>
        <div class="form-group">
          <label for="town" class="form-label">Town or city</label>
          <input type="text" name="town" id="town" class="form-control" value="">
        </div>
        <div class="form-group">
          <label for="county" class="form-label">County (optional)</label>
          <input type="text" name="county" id="county" class="form-control" value="">
        </div>
        <div class="form-group">
          <label for="postCode" class="form-label">Postcode</label>
          <input type="text" name="postCode" id="postCode" class="form-control" value="">
        </div>
      </div>

			<div class="form-group">
			<label class="form-label-bold" for="nino">
			Their phone number
			</label>
			<input type="text" class="form-control" id="nino" name="nino">
			</div>

			<!-- Primary buttons, secondary links -->
			<div class="form-group">
				<input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
			</div>

			</div>
			<div class="column-one-third">
				{% include "../includes/help.html" %}
			</div>
		</div>

	</form>
</main>

{% endblock %}
