{% extends "layout.html" %} {% block page_title %} Help with your application {% endblock %} {% block content %}
<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="personal-details" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="gov-apply">Back</a> 

                {% include "../includes/error-summary.html" %}
                
                <header>
                    <h1 class="form-title heading-large">
                      <!-- <span class="heading-secondary">Section 1 of 23</span> -->
                      Power of attorney and appointee
                    </h1>
                </header>
                <div class="form-group" data-required>
                    <fieldset class="inline">
                        <legend class="form-label-bold" for="third">Are you filling this form on behalf of the person claiming?</legend>
                        <label for="third-party-else" data-target="appointee" class="block-label">
                            <input type="radio" id="third-party-else" name="third" value="Yes"> Yes
                        </label>
                        <label for="third-party-yes" class="block-label">
                            <input type="radio" id="third-party-yes" name="third" value="No"> No
                        </label>
                    </fieldset>
                </div>
                <!-- appointee section -->
                <div class="panel panel-border-narrow form-group js-hidden" id="appointee">
                    <fieldset data-required>
                        <legend class="form-label-bold">You are completing this application on their behalf because:</legend>
                        <label for="powerOfAttourney" class="block-label" data-target="power-of-attorney">
                            <input type="radio" id="powerOfAttourney" name="representativeReason" value="I am their registered Power of Attourney"> you are their registered Power of Attorney
                        </label>
                        <label for="courtOfLaw" class="block-label" data-target="deputy">
                            <input type="radio" id="courtOfLaw" name="representativeReason" value="Deputy for them under a court of law"> you Deputy for them under a court of law
                        </label>
                        <label for="appointee-check" class="block-label" data-target="registeredAppointee">
                            <input type="radio" id="appointee-check" name="representativeReason" value="APPOINTEE"> you are their registered Appointee
                        </label>
                        <label for="ownAffairs" class="block-label" data-target="filling-in">
                            <input type="radio" id="ownAffairs" name="representativeReason" value="They cannot manage own affairs"> they cannot manage own affairs
                        </label>
                        <label class="block-label" data-target="filling-in" for="yearly1" style="margin-bottom: 15px;">
                            <input id="yearly1" type="radio" name="representativeReason" value="other"> Other
                        </label>
                    </fieldset>
                    <div class="panel panel-border-narrow form-group js-hidden" id="registeredAppointee">
                        <h2 class="heading-medium">Appointee details</h2>
                        <div class="form-group" data-required>
                            <label for="forenameAppointee" class="form-label">Forename</label>
                            <input type="text" name="forenameAppointee" id="forenameAppointee" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="surnameAppointee" class="form-label">Surname</label>
                            <input type="text" name="surnameAppointee" id="surnameAppointee" class="form-control" value="">
                        </div>
                    </div>

                    <!--Power of attorney-->
                    <div class="panel panel-border-narrow form-group js-hidden" id="power-of-attorney">
                        <h2 class="heading-medium">Power of Attorney details</h2>
                        <div class="form-group" data-required>
                            <label for="title-pa" class="form-label">Title</label>
                            <input type="text" name="title-pa" id="title-pa" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="forename-pa" class="form-label">First name</label>
                            <input type="text" name="forename-pa" id="forename-pa" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="surname-pa" class="form-label">Last name</label>
                            <input type="text" name="surname-pa" id="surname-pa" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="otherName-pa" class="form-label">Other name</label>
                            <input type="text" name="otherName-pa" id="otherName-pa" class="form-control" value="">
                        </div>
                        <div class="form-group" id="dob-pa" data-required>
                            <fieldset>
                                <legend>
                                    <span class="form-label-bold">Date of birth</span>
                                    <span class="form-hint">DD MM YYYY</span>
                                </legend>
                                <div class="form-date">
                                    <div class="form-group form-group-day">
                                        <label for="dob-day-pa">Day</label>
                                        <input class="form-control" type="number" name="dobDay" value="" id="dob-day-pa" pattern="[0-9]*" min="1" max="31">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label for="dob-month-pa">Month</label>
                                        <input class="form-control" type="number" name="dobMonth" value="" id="dob-month-pa" pattern="[0-9]*" min="1" max="12">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label for="dob-year-pa">Year</label>
                                        <input class="form-control" type="number" name="dobYear" value="" id="dob-year-pa" pattern="[0-9]*">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group" data-required>
                            <label for="nino-pa" class="form-label">National Insurance number</label>
                            <input type="text" name="nino" id="nino-pa" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="mobileTelephoneNumber-pa" class="form-label">Mobile telephone number</label>
                            <input type="text" name="mobileTelephoneNumber" id="mobileTelephoneNumber-pa" class="form-control" value="">
                        </div>
                        <fieldset>
                            <legend class="form-group-compound form-label-bold">Address</legend>
                            <span class="form-label">House or flat number and street</span>
                            <div class="form-group-compound" data-required>
                                <label class="hidden" for="address-1-pa">Address Line 1</label>
                                <input class="form-control" type="text" name="address1" id="address-1-pa" value="">
                            </div>
                            <div class="form-group" data-required>
                                <label class="hidden" for="address-2-pa">Address Line 2</label>
                                <input class="form-control" type="text" name="address2" id="address-2-pa" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="town-pa">Town or city</label>
                                <input class="form-control" type="text" name="town" id="town-pa" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="county-pa">County</label>
                                <input class="form-control" type="text" name="county" id="county-pa" value="">
                            </div>
                            <div class="form-group" data-required>
                                <label class="form-label" for="postcode-pa">Postcode</label>
                                <input class="form-control form-control-1-4" type="text" name="postcode" id="postcode-pa" value="">
                            </div>
                        </fieldset>
                    </div>

                    <!--Deputy-->
                    <div class="panel panel-border-narrow form-group js-hidden" id="deputy">
                        <h2 class="heading-medium">Deputy details</h2>
                        <div class="form-group" data-required>
                            <label for="title-dep" class="form-label">Title</label>
                            <input type="text" name="title" id="title-dep" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="forename-dep" class="form-label">First name</label>
                            <input type="text" name="forename" id="forename-dep" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="surname-dep" class="form-label">Last name</label>
                            <input type="text" name="surname" id="surname-dep" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="otherName-dep" class="form-label">Other name</label>
                            <input type="text" name="otherName" id="otherName-dep" class="form-control" value="">
                        </div>
                        <div class="form-group" id="dob-dep" data-required>
                            <fieldset>
                                <legend>
                                    <span class="form-label-bold">Date of birth</span>
                                    <span class="form-hint">DD MM YYYY</span>
                                </legend>
                                <div class="form-date">
                                    <div class="form-group form-group-day">
                                        <label for="dob-day-dep">Day</label>
                                        <input class="form-control" type="number" name="dobDay" value="" id="dob-day-dep" pattern="[0-9]*" min="1" max="31">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label for="dob-month-dep">Month</label>
                                        <input class="form-control" type="number" name="dobMonth" value="" id="dob-month-dep" pattern="[0-9]*" min="1" max="12">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label for="dob-year-dep">Year</label>
                                        <input class="form-control" type="number" name="dobYear" value="" id="dob-year-dep" pattern="[0-9]*">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group" data-required>
                            <label for="nino-dep" class="form-label">National Insurance number</label>
                            <input type="text" name="nino" id="nino-dep" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="mobileTelephoneNumber-dep" class="form-label">Mobile telephone number</label>
                            <input type="text" name="mobileTelephoneNumber" id="mobileTelephoneNumber-dep" class="form-control" value="">
                        </div>

                        <fieldset>
                            <legend class="form-group-compound form-label-bold">Address</legend>
                            <span class="form-label">House or flat number and street</span>
                            <div class="form-group-compound" data-required>
                                <label class="hidden" for="address-1-dep">Address Line 1</label>
                                <input class="form-control" type="text" name="address1" id="address-1-dep" value="">
                            </div>
                            <div class="form-group" data-required>
                                <label class="hidden" for="address-2-dep">Address Line 2</label>
                                <input class="form-control" type="text" name="address2" id="address-2-dep" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="town-dep">Town or city</label>
                                <input class="form-control" type="text" name="town" id="town-dep" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="county-dep">County</label>
                                <input class="form-control" type="text" name="county" id="county-dep" value="">
                            </div>
                            <div class="form-group" data-required>
                                <label class="form-label" for="postcode-dep">Postcode</label>
                                <input class="form-control form-control-1-4" type="text" name="postcode" id="postcode-dep" value="">
                            </div>
                        </fieldset>
                    </div>

                    <!--filling in on behalf of-->
                    <div class="panel panel-border-narrow form-group js-hidden" id="filling-in">
                        <h2 class="heading-medium">Details of the person helping with the application</h2>
                        <div class="form-group" data-required>
                            <label for="title" class="form-label">Title</label>
                            <input type="text" name="title" id="title" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="forename" class="form-label">First name</label>
                            <input type="text" name="forename" id="forename" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="surname" class="form-label">Last name</label>
                            <input type="text" name="surname" id="surname" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="otherName" class="form-label">Other name</label>
                            <input type="text" name="otherName" id="otherName" class="form-control" value="">
                        </div>
                        <div class="form-group" id="dob-other" data-required>
                            <fieldset>
                                <legend>
                                    <span class="form-label-bold">Date of birth</span>
                                    <span class="form-hint">DD MM YYYY</span>
                                </legend>
                                <div class="form-date">
                                    <div class="form-group form-group-day">
                                        <label for="dob-day-other">Day</label>
                                        <input class="form-control" type="number" name="dobDay" value="" id="dob-day-other" pattern="[0-9]*" min="1" max="31">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label for="dob-month-other">Month</label>
                                        <input class="form-control" type="number" name="dobMonth" value="" id="dob-month-other" pattern="[0-9]*" min="1" max="12">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label for="dob-year-other">Year</label>
                                        <input class="form-control" type="number" name="dobYear" value="" id="dob-year-other" pattern="[0-9]*">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group" data-required>
                            <label for="nino" class="form-label">National Insurance number</label>
                            <input type="text" name="nino" id="nino" class="form-control" value="">
                        </div>
                        <div class="form-group" data-required>
                            <label for="mobileTelephoneNumber" class="form-label">Mobile telephone number</label>
                            <input type="text" name="mobileTelephoneNumber" id="mobileTelephoneNumber" class="form-control" value="">
                        </div>

                        <fieldset>
                            <legend class="form-group-compound form-label-bold">Address</legend>
                            <span class="form-label">House or flat number and street</span>
                            <div class="form-group-compound" data-required>
                                <label class="hidden" for="address-1-other">Address Line 1</label>
                                <input class="form-control" type="text" name="address1" id="address-1-other" value="">
                            </div>
                            <div class="form-group" data-required>
                                <label class="hidden" for="address-2-other">Address Line 2</label>
                                <input class="form-control" type="text" name="address2" id="address-2-other" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="town-other">Town or city</label>
                                <input class="form-control" type="text" name="town" id="town-other" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="county-other">County</label>
                                <input class="form-control" type="text" name="county" id="county-other" value="">
                            </div>
                            <div class="form-group" data-required>
                                <label class="form-label" for="postcode-other">Postcode</label>
                                <input class="form-control form-control-1-4" type="text" name="postcode" id="postcode-other" value="">
                            </div>
                        </fieldset>
                    </div>
                    <!-- <div class="form-group">
                          <label for="representativeReason" class="form-label">Representative reason</label>
                          <input type="text" name="representativeReason" id="representativeReason" class="form-control" value="APPOINTEE">
                        </div> -->
                </div>
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}
