{% extends "layout.html" %}

{% block page_title %}
  Apply for Employment and Support Allowance (ESA)
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="https://www.gov.uk/browse/benefits">Benefits</a></li>
      <li><a href="https://www.gov.uk/browse/benefits/disability">Carers and disability benefits</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <!-- INTRO NAVIGAITON -->
      <nav class="intro-nav">
        <ol>
          <li class="active font-xsmall">
            <span class="part-number">1.</span>
            <a href="gov-overview" title="Part 2: Eligibility">Overview</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">4.</span>
            <a href="gov-apply" title="Part 4: How to claim">Apply</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="gov-eligibility" title="Part 2: Eligibility">Who can get ESA</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">5.</span>
            <a href="gov-circs" title="Part 5: If your circumstances change">Changes you must tell us about</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">3.</span>
            <span>What happens after you apply</span>
          </li>
        </ol>
      </nav>

      <h2 class="heading-medium">3. What happens after you apply</h2>

      <p>You'll get a letter telling you how much ESA you'll get for the first 13 weeks.<p>
      <p>You’ll get a form to fill in, asking how your illness or disability affects you. If you don’t return this form, payment of ESA could stop.<p>
      <p>You’ll then get either an invitation to see a healthcare professional, or get a letter telling you that you're not capable of work<p>
      <p>If you're invited to see a healthcare professional, you’ll be asked more about how your condition affects you. It lasts about an hour and you can take someone with you. If you don’t go, payment of ESA could stop.<p>
      <p>You’ll get a letter within 4 weeks about your ability to work. The three outcomes are that you:<p>
          <ul class="list list-bullet">
            <li>have to continue giving us your fit notes and go to regular interviews with an adviser to help you prepare for work when you're able to – most people get £102.15 a week</li>
            <li>are offered support if you want it, to help you prepare for work when you're able to, but you don't have to go to any interviews or give us any more fit notes – most people get £125.05 a week</li>
            <li>are found to be fit for work and payment of ESA will stop</li>
          </ul>
        </li>
      </ul>
      <p>How much you get depends on your personal situation.</p>
      <p>You can <a href="https://www.gov.uk/social-security-child-support-tribunal">appeal if you think your decision is wrong.</a></p>
      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="gov-eligibility" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span> <span class="pagination-part-title"> Who can get ESA</span>
              </a>
            </li>
            <li class="next">
              <a href="gov-apply" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span> <span class="pagination-part-title"> Apply</span>
              </a>
            </li>
          </ul>
        </nav>
      </footer>

    </div>
    <div class="column-third">

      <!--div class="related-links">
        <h2 class="heading-medium">Subsection</h2>

        <ul class="font-xsmall">
          <li><a href="#">Related link</a></li>
          <li><a href="#">Related link</a></li>
          <li><a href="#" class="bold-xsmall">More</a></li>
        </ul>
      </div-->

    </div>
  </div>

</main>

{% endblock %}
