{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pick a date
      </h1>

      <h2 class="heading-medium">A case worth exploring</h2>

      <p><a href="http://esa-digital.herokuapp.com/health03/health-conditions">http://esa-digital.herokuapp.com/health03/health-conditions</a>

      <p>
        Research has shown that people have variable mental models of when certain conditions first began, e.g. Three years ago, 2011, etc.
      </p>

      <p>
        We should allow people to continue to describe these dates in the manner that is most natural to their mental model.
      </p>

      <p>
        However &mdash; we know that legacy systems require the dates in a specific DD&nbsp;MM&nbsp;YY format. Whilst there may be temptation to include a date picker as a solution to a system problem, we should instead look to do the hard work to keep it simple for the user.
      </p>

      <p>
        We could attempt to identify key words or phrases that are entered and automatically convert those to a suitable date format in the backend
      </p>

      <p>
        Example, three years ago would become 01 11 2013.
      </p>

      <p>
        Part of this will be challenging the specificity of the dates required, so that we can automatically default day to the first of the month when required.
      </p>

      <h2 class="heading-large">Date pickers (calendar controls)</h2>

      <p class="lede">We have not seen/validated a user need for this.</p>

      <h3 class="heading-medium">Outstanding questions</h3>

      <ul class="list list-bullet">
        <li>Have we seen/validated a user need (not a want) for this?</li>
        <li>Are there instances where the user will not always know a specific date?</li>
        <li>Will the user have a relative mental model on when the date is, eg next friday, or the first day of next month?</li>
        <li>Can the interaction can be made simplier/quicker with a picker?</li>
        <li>Does manual input create errors?</li>
      </ul>

      <h3 class="heading-medium">A word from GDS</h3>

      <p>
        Calendar controls are only appropriate for near past or future dates, where the day of the week is relevant. Their main use case is for appointment booking.
      </p>

      <p>
        If you also need to show information like availability, embed the calendar in the page and make it large enough for the information to be readable.
      </p>

      <p>
        A calendar control that depends on JavaScript should never be the only input option.
      </p>

      <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/dates.html">https://www.gov.uk/service-manual/user-centred-design/resources/patterns/dates.html</a>

      <h3 class="heading-medium">Recommended pattern from GDS</h3>

        <!-- Date -->
        <div class="form-group">
          <fieldset>
            <legend class="form-label-bold">Date of birth</legend>

            <div class="form-date">

              <p class="form-hint">For example, 31 3 1980</p>

              <div class="form-group form-group-day">
                <label for="dob-day">Day</label>
                <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
              </div>
            </div>

          </fieldset>
        </div>

    </div>
  </div>
</main>

{% endblock %}
