{% extends "layout.html" %} 

{% block page_title %}
 GP Details 
{% endblock %} 

{% block content %}

<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <form action="special-rules" method="#" class="form">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back" href="housing-benefit">Back</a>
                <header>
                    <h1 class="heading-large">
        				Find your GP surgery
    				</h1>
                </header>
           
                <div id="typeahead" class="form-group" data-error="Enter the name of your GP practice">
                    <label for="practiceSearch" class="form-label">Your GP surgery</label>
                    <input type="text" name="practiceSearch" id="practiceSearch" class="form-control form-control-2-3 typeahead" value="">
                </div>
                <!-- Primary buttons, secondary links -->
                <div class="form-group">
                  <input id="continueButton" type="submit" class="button disabled" disabled="disabled" value="Continue">
                    <!--a href="overview">I do not agree - leave now</a-->
                </div>
                <p>
			        <a href="manual-gp">I can't find my GP surgery</a>
			    </p>
            </div>
            <div class="column-one-third">
                {% include "../includes/help.html" %}
            </div>
        </div>
    </form>
</main>
{% endblock %}

{% block body_end %}

{{ super() }}

<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

<script>
var dataGP = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace('orgName', 'orgPostcode','orgAdd','orgTelephone'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  limit: 10,
  remote: {
    url: 'https://gp-look-up.herokuapp.com/findGp?name=%QUERY',
    wildcard: '%QUERY',
    filter: function (response) {
            // Map the remote source JSON array to a JavaScript object array
            return $.map(response.entry, function (org) {
              console.log(org)
                return {
                    orgName: org.content.organisationSummary.name,
                    orgAdd: org.content.organisationSummary.address.addressLine,
                    orgPostcode: org.content.organisationSummary.address.postcode,
                    orgTelephone: org.content.organisationSummary.contact.telephone
                };
            });
        }
  }
});

dataGP.initialize();

$('.typeahead').typeahead({minLength : 2}, {
  display: function (item) { return item.orgName  },
  source: dataGP.ttAdapter(),
  limit: 200,
  templates: {
        empty: [
            '<p class="tt-suggestion">No matches found - <a href="manual-gp">enter details manually</a></p>'].join('\n'),
        suggestion: function (data) {
          return '<p><strong>' + data.orgName + '</strong><br>' + data.orgAdd + ', ' + data.orgPostcode  + '<br>' + data.orgTelephone +'</p>';
        }
    }
});
$('.typeahead').bind('typeahead:select', function(ev, suggestion) {
  $('#typeahead').after('<div class="call-to-action"><p><strong>' + suggestion.orgName + '</strong><br>' + suggestion.orgAdd + ', ' + suggestion.orgPostcode  + '<br>' + suggestion.orgTelephone + '</p>');
  $(this).typeahead("val", "");

  //enable the continue button
  $('#continueButton').prop('disabled', false).removeClass('disabled');
});

</script>

{% endblock %}