{% extends "layout.html" %}

{% block page_title %}
  You are not eligible for Employment and Support Allowance
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "../includes/phase_banner_alpha.html" %}

	<form action="contact-pref" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<header>
			    <h1 class="form-title heading-large">
			    	<!-- <span class="heading-secondary">Section 3 of 23</span> -->
			      You are not eligible for Employment and Support Allowance
			    </h1>
			  </header>

        <p class="">You are over the age limit to apply for Employment and Support Allowance.</p>
        <p class="">You might be eligible to apply for Pension Credit.</p>

        <p><a href="https://www.gov.uk/pension-credit" class="button">Go to Pension Credit</a></p>
        <p><a href="contact-details">Continue with your Employment and Support Allowance application</a></p>

      </div>
      <div class="column-one-third">
      	
      </div>
    </div>

  </form>
</main>

{% endblock %}
