{% extends "layout.html" %}

{% block page_title %}
	Additional information
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_beta.html" %}

	<form action="medication" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<a class="link-back" href="health-conditions">Back</a>
				<header>
					<h1 class="form-title heading-large">
						Your health condition
					</h1>
				</header>

				<div class="form-group">
			        <label for="why" class="form-label-bold">How does your health condition affect you?</label>
			        <textarea class="form-control" type="text" id="why" style="width: 100%; height: 350px;"></textarea>
			    </div>

				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
				</div>

			</div>
			<div class="column-one-third">
				{% include "../includes/help.html" %}
			</div>
		</div>

	</form>
</main>

{% endblock %}