{% extends "layout.html" %}

{% block page_title %}
  Employment and Support Allowance
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">ESA</h1>

      <ul class="list list-bullet">
        <li><a href="/alpha01/apply">Alpha 01 - Contributions based only</a></li>
        <li>Alpha 02 - Contributions-based and Income Related for self</li>
      </ul>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/examples">Example pages and patterns</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="http://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


