{% extends "layout.html" %}

{% block page_title %}
  Employment and Support Allowance
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
	<div class="column-two-thirds">

		<h2 class="heading-xlarge">Beta prototypes</h2>

		<ul class="list list-bullet">
			<li><a href="/beta04/invite">Beta 04</a></li>
			<li><a href="/beta03/invite">Beta 03</a></li>
        	<li><a href="/beta02/gov-overview">Beta 02</a></li>
			<li><a href="/beta01/gov-overview">Beta 01</a></li>
		</ul>

		<h2 class="heading-large">Alpha prototypes</h2>

		<ul class="list list-bullet">
			<li><a href="/alpha01/apply">Alpha 01 - Contribution-based only</a></li>
			<li><a href="/alpha02/apply">Alpha 02 - Contribution-based and Income-related for self</a></li>
			<li><a href="/alpha03/apply">Alpha 03 - CB &amp; IR for self. Identifying short-term/long-term</a></li>
			<li><a href="/alpha04/apply">Alpha 04 - CB &amp; IR for self. Identifying short-term/long-term</a></li>
			<li><a href="/alpha05/gov-overview">Alpha 05</a></li>
			<li><a href="/alpha06/gov-overview">Alpha 06</a></li>
			<li><a href="/alpha06-MVP/gov-overview">Alpha 06b</a></li>
			<li><a href="/alpha07-MVP/gov-overview">Alpha 07</a></li>
			<li><a href="/alpha08-MVP/gov-overview">Alpha 08</a></li>
			<li><a href="/alpha09/gov-overview">Alpha 09</a></li>
			<li><a href="/health01/getting-around">Health Gather</a></li>
		</ul>

		<h2 class="heading-large">GOV.UK pages</h2>
		<ul class="list list-bullet">
			<li><a href="/gov-pages/gov-overview">GOV.UK pages</a></li>
		<ul>

		<h2 class="heading-medium">Examples and documentation</h2>

		<ul class="list list-bullet">
			<li><a href="/examples">Example pages and patterns</a></li>
			<li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">Read the full documentation</a></li>
		</ul>

		<h2 class="heading-medium">Other resources</h2>

		<ul class="list list-bullet">
			<li>
				<a href="http://govuk-elements.herokuapp.com/snippets/">
					Guide to GOV.UK Elements
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/service-manual">
					Service design manual
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/design-principles">
					Government Digital Service Design Principles
				</a>
			</li>
		</ul>

	</div>

	<div class="column-third">
		<h3 class="heading-medium">MVP</h3>

		<ul class="list list-bullet">
      <li><a href="/invite-start-pages/invite">Invite-start pages</a></li>
			<li><a href="/esa-mvp/invite">Fixed MVP</a></li>
			<li><a href="/agent-view01/list-view">Agent view</a></li>
		</ul>

    <h3 class="heading-medium">Micro services</h3>

    <ul class="list list-bullet">
      <li><a href="https://ixd-patterns.herokuapp.com/give-your-address/">Give your address</a></li>
      <li><a href="https://ixd-patterns.herokuapp.com/give-your-bank-details/">Give your bank details</a></li>
      <li><a href="https://ixd-patterns.herokuapp.com/pick-a-date/">Pick a date</a></li>
      <li><a href="https://ixd-patterns.herokuapp.com/find-your-gp-doctor/">Find your GP doctor</a></li>
    </ul>

	</div>

  </div>
</main>

{% endblock %}
