{% extends "govuk_template.html" %}

{% block cookie_message %}
  <p>GOV.UK uses <a href="cookiepolicy">cookies</a> to make the site simpler. <a href="#" id="cookie_gotit">That's fine</a></p>
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
