{% extends "layout.html" %}

{% block page_title %}
  Apply for Employment and Support Allowance
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="https://www.gov.uk/browse/benefits">Benefits</a></li>
      <li><a href="https://www.gov.uk/browse/benefits/disability">Carers and disability benefits</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <!-- INTRO NAVIGAITON -->
      <nav class="intro-nav">
        <ol>
          <li class="active font-xsmall">
            <span class="part-number">1.</span>
            <a href="gov-overview" title="Part 2: Eligibility">Overview</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">4.</span>
            <a href="gov-apply" title="Part 4: How to claim">Apply</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="gov-eligibility" title="Part 2: Eligibility">Eligibility</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">5.</span>
            <a href="gov-circs" title="Part 5: If your circumstances change">If your circumstances change</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">3.</span>
            <span>How you're assessed</span>
          </li>
        </ol>
      </nav>

      <h2 class="heading-medium">3. How you're assessed</h2>

      <ul class="list list-number">
        <li>You’ll get a questionnaire soon after your claim to find out how your illness or disability affects you.</li>
        <li>You’ll get a letter with either a decision on your capability to work or an invitation to a meet face-to-face</li>
        <li>If you are invited to a face-to-face you’ll be asked more about how your condition affects you. It lasts about an hour and you can take someone with you. </li>
        <li>You’ll get a decision letter about your ability to work within 4 weeks. You can be:
          <ul class="list list-bullet">
            <li>placed in the support group – your ESA will be at least £125.05 a week and you do not have to go to interviews</li>
            <li>placed in a work related activity group – your ESA will be at least £102.15 a week and you must go to regular interviews with an adviser who can help you prepare for work when you’re able to</li>
            <li>found to be fit for work and payment of ESA will stop</li>
          </ul>
        </li>
      </ul>
      <p>Once you have a decision on your claim, you no longer need to send in any fit notes, unless you think the <a href="https://www.gov.uk/social-security-child-support-tribunal">decision is wrong and want to appeal.</a></p>

    </div>
    <div class="column-third">

      <!--div class="related-links">
        <h2 class="heading-medium">Subsection</h2>

        <ul class="font-xsmall">
          <li><a href="#">Related link</a></li>
          <li><a href="#">Related link</a></li>
          <li><a href="#" class="bold-xsmall">More</a></li>
        </ul>
      </div-->

    </div>
  </div>

</main>

{% endblock %}
