{% extends "layout.html" %}

{% block page_title %}
	Other money
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../includes/phase_banner_alpha.html" %}

	<form action="partner" method="#" class="form">
		<div class="grid-row">
			<div class="column-two-thirds">
				<header>
				<h1 class="form-title heading-large">
					<!-- <span class="heading-secondary">Section 5 of 23</span> -->
					Other money
				</h1>
				</header>

				<div class="form-group">
					<fieldset class="inline">
						<legend class="form-label-bold" for="partner">Do you or your partner have any other money coming in?</legend>
						<label class="block-label" data-target="working" for="radio-inline-1">
						<input id="radio-inline-1" type="radio" name="partner" value="Yes">
						Yes
						</label>
						<label class="block-label" for="radio-inline-2">
						<input id="radio-inline-2" type="radio" name="partner" value="No">
						No
						</label>
					</fieldset>
				</div>

				<div class="panel panel-border-narrow js-hidden" id="working">
	
					<div class="form-group">
						<label class="form-label-bold" for="hours">
							Where is the money coming from?
						</label>
						<input type="text" class="form-control" id="hours" name="hours">
					</div>
					<div class="form-group">
						<fieldset class="inline">
							<legend class="form-label-bold" for="part">Who gets the money?</legend>
							<label class="block-label" data-target="yes-working" for="radio-inline-3">
							<input id="radio-inline-3" type="radio" name="part" value="Yes">
							You
							</label>
							<label class="block-label" data-target="no-working" for="radio-inline-4">
							<input id="radio-inline-4" type="radio" name="part" value="No">
							Your partner
							</label>
						</fieldset>
					</div>

					<div class="form-group">
						<fieldset class="">
							<legend class="form-label-bold" for="howoften1">How often is it paid?</legend>
							<label class="block-label" for="weekly1">
								<input id="weekly1" type="radio" name="howoften1" value="weekly">
								Weekly
							</label>
							<label class="block-label" for="monthly1">
								<input id="monthly1" type="radio" name="howoften1" value="monthly">
								Monthly
							</label>
							<label class="block-label" for="yearly">
								<input id="yearly" type="radio" name="howoften1" value="yearly">
								Yearly
							</label>
							<label class="block-label" data-target="pay-other" for="yearly1">
								<input id="yearly1" type="radio" name="howoften1" value="other">
								Other
							</label>
							<div class="form-group js-hidden" id="pay-other">
								<label class="form-label-bold" for="surgery-name">
									<input type="text" class="form-control" id="surgery-name">
								</label>
							</div>
						</fieldset>
					</div>

					<div class="form-group">
						<label class="form-label-bold" for="howmuch1">How much is paid?</label>
						£ <input class="form-control form-control-1-4" id="howmuch1" type="text" name="howmuch1"> 
					</div>

			</div>

			<!-- Primary buttons, secondary links -->
			<div class="form-group">
				<input type="submit" class="button" value="Continue"> <!--a href="overview">I do not agree - leave now</a-->
			</div>

			</div>
			<div class="column-one-third">
			<p>&nbsp;</p>
			</div>
		</div>

	</form>
</main>

{% endblock %}