{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-xlarge">
          <span class="font-medium">
          </span>
          End of pattern
        </h1>
        <p></p>
      </div>

      <p>
        <a class="button" href="/" role="button">Back to patterns</a>
      </p>


    </div>
  </div>
</main>

{% endblock %}
