{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Enter bank account details
      </h1>

      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <p class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          We were unable to process this request
        </p>

        <p>
          Please try again.
        </p>

      </div>

      <form action="enter-sortcode-final" method="post">

        <!-- Sort code -->
        <legend class="form-label-bold">Sort code (6 digits)</legend>
        <div class="form-date form-group">
          <fieldset>
            <div class="form-group form-group-day">
              <label for="baSort1"></label>
              <input class="form-control" id="baSort1" maxlength="2" name="baSort1" value="" type="text">
            </div>

            <div class="form-group form-group-month">
              <label for="baSort2"></label>
              <input class="form-control" id="baSort2" maxlength="2" name="baSort2" value="" type="text">
            </div>

            <div class="form-group form-group-month">
              <label for="baSort3"></label>
              <input class="form-control" id="baSort3" maxlength="2" name="baSort3" value="" type="text">
            </div>
          </fieldset>
        </div>

        <!-- Account number -->
        <div class="form-group">
          <fieldset>
            <label class="form-label-bold" for="baAccountNumber">
              Account number (8 digits)
            </label>
            <input type="text" class="form-control form-control-1-3" id="baAccountNumber" name="baAccountNumber" value="" maxlength="8">
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

      <div class="form-group">
        <details>
          <summary><span class="summary">I don't know my sortcode or account number</span></summary>
          <div class="panel panel-border-narrow">
            <p>
              You can usually find your sort code and account number on your debit card, a cheque or your bank statement. Contact your bank or check via online banking if you can't find it.
            </p>
          </div>
        </details>
        <details>
          <summary><span class="summary">I don't have a bank account</span></summary>
          <form action="" method="">
          <div class="panel panel-border-narrow">
            <p>
              You will need somewhere that we can pay your money into. We may be able to set something up for you. <a href="complete">Skip this section and we will contact you later.</a>
            </p>
          </div>
          </form>
        </details>

      </div>

    </div>
  </div>
</main>

{% endblock %}
