{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Verify bank details
      </h1>

      <h2 class="heading-medium">Prototypes</h2>

      <p>
        <a href="enter-sortcode">Error messages if verify fails</a>
        <br>
        Use to collect data in the same way as before, showing error messages when the backend service is not able to verify the account details. Do not stop the user from the completing the application &mdash; this would need to be manually processed with a follow up contact to collect/verify the details are correct.
      </p>

      <p>
        <a href="examples/enter-account1">Get different details depending on the bank</a>
        <br>
        Use this to only ask for the data we know we need based on the holding bank rather than asking for all the information with some optional fields. This would require data of the rule sets for each banks payment service.<br><span class="bold-small">We have not seen/validated a user need for this.</span>
      </p>

      <h2 class="heading-medium">Pattern principals</h2>

      <ul class="list list-bullet">
        <li>bank account details are verified via a third party</li>
        <li>don't soft credit check people, we just need to know if an account number is part of the sort codes data range</li>
        <li>don't ask for information we don't need</li>
        <li>give people confidence their transaction in secure</li>
        <li>allow people to complete the transaction even if they don't have a bank account</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
