{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Verify bank details
      </h1>

      <h2 class="heading-medium">Pattern principals</h2>

      <ul class="list list-bullet">
        <li>bank account details are verified via a third party</li>
        <li>don't soft credit check people, we just need to know if an account number is part of the sort codes data range</li>
        <li>don't ask for information we don't need</li>
        <li>give people confidence their transaction in secure</li>
        <li>allow people to complete the transaction even if they don't have a bank account</li>
      </ul>

      <p>
        <a class="button button-start" href="enter-sortcode" role="button">Start now</a>
      </p>

      <div class="form-group">
        <details>
          <summary><span class="summary">Research notes</span></summary>
          <div class="panel panel-border-narrow">
            <p>
              User research for <a href="http://dwp-digital-services.herokuapp.com/projects/0/get_your_state_pension">Get your State Pension</a>
              found that asking people whether they want to be paid into a bank account or a building society account makes them think about whether they need their pension for everyday spending or for savings.
            </p>
            <p>
              User research for <a href="http://dwp-digital-services.herokuapp.com/projects/0/get_your_state_pension">Get your State Pension</a>
              found that as long as there are enough indicators on the screen, customers do not mind inputting their bank account details in the service.
            </p>
            <p>
              User research for <a href="http://dwp-digital-services.herokuapp.com/projects/8/carers_allowance_digital_service">Carer&rsquo;s Allowance</a>
              found that some people don&rsquo;t have a bank account. They needed to be able to complete the transaction without providing any bank details.
            </p>
          </div>

        </details>
        <details>
          <summary><span class="summary">Existing patterns in the wild</span></summary>
          <div class="panel panel-border-narrow">
            <form>

              <!-- Account name -->
              <div class="form-group">
                <label class="form-label-bold label-no-hint" for="ba-account-holder">Account holder name</label>
                <input type="text" class="form-control" id="ba-account-holder" name="ba-account-holder" value="">
              </div>

              <!-- Sort code -->
              <legend class="form-label-bold">Sort code</legend>
              <div class="form-date form-group">
                <fieldset>
                  <div class="form-group form-group-day">
                    <label for="ba-sort1"></label>
                    <input class="form-control" id="ba-sort1" maxlength="2" name="ba-sort1" value="" type="text">
                  </div>

                  <div class="form-group form-group-month">
                    <label for="ba-sort2"></label>
                    <input class="form-control" id="ba-sort2" maxlength="2" name="ba-sort2" value="" type="text">
                  </div>

                  <div class="form-group form-group-month">
                    <label for="ba-sort3"></label>
                    <input class="form-control" id="ba-sort3" maxlength="2" name="ba-sort3" value="" type="text">
                  </div>
                </fieldset>
              </div>

              <!-- Account number -->
              <div class="form-group">
                <fieldset>
                  <label class="form-label-bold" for="ba-account-number">
                    Account number
                  </label>
                  <input type="text" class="form-control" id="ba-account-number" name="ba-account-number" value="" maxlength="10">
                </fieldset>
              </div>

              <!-- Building society optional -->
              <div class="form-group">
                <fieldset>
                  <label class="form-label-bold" for="bs-society-roll">
                    Building society roll or reference number (optional)
                    <span class="form-hint">If your building society uses a roll or reference number, you will find it on your passbook</span>
                  </label>
                  <input type="text" class="form-control" id="bs-society-roll" name="bs-society-roll" value="" data-required="true">
                </fieldset>
              </div>

              <div class="form-group">
                <input type="submit" class="button" value="Continue">
              </div>

            </form>
          </div>

        </details>
      </div>

    </div>
  </div>
</main>

{% endblock %}
